/* custom */

.stats-card h3 { font-size: 64px; line-height: 72px; }
.stats-card-2 { background-color: rgba(247, 243, 211, 0.1); }
.stats-card-3 { background-color: rgba(252, 212, 233, 0.1); }
.stats-card-4 { background-color: rgba(245, 248, 245, 0.1); }
.stats-card-6 { background-color: rgba(213, 216, 226, 0.1); }
.stats-card-7 { background-color: rgba(253, 252, 251, 0.1); }
.stats-tablet-structure { display: none; }


/* responsive */
@media (max-width: 1799px) { 
    .stats-card-1, .stats-card-5 { width: 339px; height: 455px; }
    .stats-card-1 p, .stats-card-5 p { width: 90%; }
    .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7 { width: 339px; height: 455px; }
    .stats-card-6 { width: 680px; height: 455px; }
    .stats-card h3 { font-size: 62px; line-height: 70px; }
    .stats-subtitle {  height: 52px;}

    .stast-card-image { width: 100%; }
}

@media (max-width: 1599px) { 
    .stats-card h3 { font-size: 56px; line-height: 62px; }
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 150px; margin: 15px 0; }
    .stats-card-6 .stast-card-image { height: 265px; }
    .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7 { width: 310px; height: 380px; }
    .stats-card-6 { width: 620px; height: 380px; }
    .stats-card-1, .stats-card-5 { width: 310px; height: 380px; }
    .stats-card-6 p:nth-child(3) { width: 260px; } 
}   

@media (max-width: 1599px) and (max-height: 750px) {}

@media (max-width: 1439px) {
    .stats-card h3 { font-size: 52px; line-height: 52px; }
    .stats-subtitle { height: 40px; }

    .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7 { width: 295px; height: 350px; }
    .stats-card-1, .stats-card-5 { width: 280px; height: 350px; }
    .stats-card-6 { width: 590px; height: 350px; }
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 140px; }
    .stats-card-6 .stast-card-image { height: 235px; }
}

@media (max-width: 1359px) { 
    .stats-card h3 { font-size: 46px; line-height: 46px; }
    .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7 { height: 340px; }
    .stats-card-1, .stats-card-5 { height: 340px; }
    .stats-card-6 { height: 340px; }
    .stats-card-6 .stast-card-image { margin: 0; height: 245px; }
}

@media (max-width: 1359px) and (max-height: 600px) { }

@media (max-width: 1199px) { 
    /* .stats-tablet-structure { display: block; }
    .stats-desktop-structure { display: none; }
    .stats-card-1, .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-5,.stats-card-7 { width: 50%; height: 370px; border-bottom: 1px solid #424242; }
    .stats-card-6 { width: 100%; height: 370px; }
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 200px; }
    .stats-card-6 .stast-card-image { height: 285px; }
    .stats-card-1 { background-color: #fdfcfb1a; padding: 20px; }
    .stats-card-5 { background-color: #f7f3d31a; padding: 20px; }
    .stats-card-3, .stats-card-6 { border-left: none; }
    .stats-subtitle { height: 25px; } */
    .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7, .stats-card-1, .stats-card-5, .stats-card-6 { height: 360px; }
}

@media (max-width: 1024px) { 

        .stats-tablet-structure { display: block; }
    .stats-desktop-structure { display: none; }
    .stats-card-1, .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-5,.stats-card-7 { width: 50%; height: 370px; border-bottom: 1px solid #424242; }
    .stats-card-6 { width: 100%; height: 370px; }
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 200px; }
    .stats-card-6 .stast-card-image { height: 285px; }
    .stats-card-1 { background-color: #fdfcfb1a; padding: 20px; }
    .stats-card-5 { background-color: #f7f3d31a; padding: 20px; }
    .stats-card-3, .stats-card-6 { border-left: none; }
    .stats-subtitle { height: 25px; }
}

@media (max-width: 1024px) and (max-height: 770px) { 
    .stats-tablet-structure { display: none; }
    .stats-subtitle { height: 40px; }
    .stats-card-5 { border-bottom: none; border-right: 1px solid #424242; }
    .stats-card-3 { border-left: 1px solid #424242; }
    .stats-card-7 { border-bottom: none; }
    .stats-desktop-structure { display: block; }
    .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7 { width: 230px; height: 330px; }
    .stats-card-1, .stats-card-5 { width: 230px; height: 330px; }
    .stats-card-6 { width: 460px; height: 330px; }
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 120px; }
    .stats-card h3 { font-size: 38px; line-height: 38px; }
    .stats-card-6 .stast-card-image { height: 220px; }
    .stats-card-6 p:nth-child(3) { width: 185px; }
}

@media (max-width: 991px) { 
            .stats-tablet-structure { display: block; }
    .stats-desktop-structure { display: none; }
    .stats-card-1, .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-5,.stats-card-7 { width: 50%; height: 390px; border-bottom: 1px solid #424242; }
    .stats-card-6 { width: 100%; height: 390px; }
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 200px; }
    .stats-card-6 .stast-card-image { height: 285px; }
    .stats-card-1 { background-color: #fdfcfb1a; padding: 20px; }
    .stats-card-5 { background-color: #f7f3d31a; padding: 20px; }
    .stats-card-3, .stats-card-6 { border-left: none; }
    .stats-subtitle { height: 25px; }

}

@media (max-width: 839px) { 
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 160px; }
    .stats-card-1, .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-5, .stats-card-7 { height: 350px; }
    .stats-card-6 .stast-card-image { height: 270px; }
    .stats-card-6 { height: 345px; }
}

@media (max-width: 767px) { 
    .stats-subtitle { height: 35px; }
    .stats-card-1, .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-5, .stats-card-7 { height: 360px; }
    .stats-card-6 .stast-card-image { height: 250px; }
    .stats-card-6 { height: 320px; }
    .stats-card-1 p, .stats-card-5 p { width: 95%; }
    .stats-card h3 { font-size: 42px; }
}

@media (max-width: 639px) { 
}

@media (max-width: 575px) { 
    .stats-tablet-card-row { flex-direction: column; } 
    .stats-card-1, .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-5, .stats-card-6, .stats-card-7 { width: 100%; height: max-content; }
    .stats-card { border: 1px solid #3b3b3b; border-radius: 20px; margin-bottom: 20px; } 
    .stats-subtitle { height: max-content; }
    .stats-card-1 p { margin-top: 14px; }
    .map-card-text { position: static; } 
    .stats-card-6 p:nth-child(3) { position: static; }
    .stats-card-6 .stast-card-image { height: 200px; margin: 15px 0; }
    .stats-card-5 p:nth-child(2) { margin-top: 14px; }
}

@media (max-width: 479px) { 
    .stats-card-2 .stast-card-image, .stats-card-3 .stast-card-image, .stats-card-4 .stast-card-image, .stats-card-7 .stast-card-image { height: 120px; margin: 10px 0; }
}

@media (max-width: 439px) { 
}

@media (max-width: 400px) { 
}

@media (max-width: 374px) { 
}

@media (max-width: 359px) { }