
.section.footer { padding-bottom: 40px; }
.footer-quote-right h2 { font-size: 80px; line-height: 90px; }

.footer-quote-wrapper { display: flex; align-items: center; justify-content: space-between; }
.footer-quote-right { width: 776px; position: relative; z-index: 3; }
.footer-quote-right p { margin-bottom: 40px; }
.footer-quote-title { margin-top: 6px; }

.social-icon a{ display: flex; align-items: center; gap: 20px; transition: all 0.6s ease; }
.social-icon a:hover{ color: var(--primary); }
.social-icon span { font-size: 26px; }

.footer-social-wrapper { display: flex; align-items: flex-start; gap: 60px; }
.footer-social-row { display: flex; flex-direction: column; align-items: flex-start; gap: 20px; }

.footer-detail-wrapper { display: flex; align-items: flex-start; padding: 30px 0; margin: 30px 0; border-top: 1px solid #424242; border-bottom: 1px solid #424242; }

.footer-links { display: flex; width: 672px; align-items: flex-start; justify-content: space-between; margin-top: 20px; margin-bottom: 10px; }
.footer-link-col ul li { margin-bottom: 10px; transition: all 0.6s ease; }
.footer-link-col ul li:hover { color: var(--primary); }
.footer-link-col ul li:nth-last-child(1) { margin-bottom: 0px; }

.footer-address { width: 250px; }
.footer-address-wrapper { width: 317px; display: flex; align-items: flex-start; gap: 20px; }

.back-top-pointer { cursor: pointer; }

.footer-vr-line { width: 1px; height: 170px; background-color: #424242; margin: 0 113px; }

.footer-company-detail { width: 100%; }
.footer-contact { display: flex; justify-content: space-between; align-items: flex-start; margin-top: 20px; }
.footer-cnct { display: flex; gap: 6px; }

.footer-add-country .active p { color: var(--primary); }
.footer-cnct:nth-child(1) { margin-bottom: 10px; }

.footer-copyright { position: relative; display: flex; align-items: center; justify-content: space-between; padding-top: 60px; z-index: 3; }
.footer-copyright-right ul { display: flex; align-items: center; gap: 30px; }

.footer { position: relative; }
.footer-pixel-1 { position: absolute; top: 0; left: 0; }
.footer-pixel-2 { position: absolute; bottom: 0; left: 0; }
.footer-pixel-3 { position: absolute; bottom: 0; right: 0; }

.footer-add-country { display: flex; flex-direction: column; gap: 10px; }
.footer-add-country div { cursor: pointer; transition: all 0.6s ease; }

.hm-blog-wrapper-swiper { display: none; }
.footer-social-icon-tablet { display: none; }

.faq-btn-wrapper-arrow { position: relative; display: flex; align-items: center; width: 100%; justify-content: flex-end; margin-top: 30px; }
.expand-faq { margin-right: 40px; cursor: pointer; color: var(--primary); }

.website-btn { display: flex; align-items: center; gap: 6px; padding: 6px 20px; width: max-content; background-color: var(--primary); color: white; border-radius: 30px; }

.faq-expand-wrapper { max-height: 800px;  overflow: hidden; transition: max-height 1s ease-in-out; }
.faq-expand-wrapper.expanded { max-height: 2000px; }

.footer-copyright-color { color: rgba(198, 198, 198, 50%); }
.footer-company-contact a { transition: all 0.6s ease; }
.footer-company-contact a:hover { color: var(--primary); }
.quick-link-only-title, .services-only-title, .only-for-mobile-three-column { display: none; }






@media (max-width: 1799px) {
	:root { 
		--project-card-width: 900px; 
		--project-card-gap: 40px;  

		--card-2-start-mt: 0;
    	--card-3-start-mt: 0;

		--card-2-mt: 0px;
    	--card-3-mt: 0px;

    	--card-1-start-width: 51px;
    	--card-2-start-width: 49px;
    	--card-3-start-width: 62px;

    	--card-2-width: 245px;

		--card-final-width: 365px;
		/* --card-final-width: 345px; */
		--card-1-x: 0px;
    	--card-3-x: 0px;

		--abt-hero-target-height: 480px;
	}

	.container-1 { max-width: calc(1360px + 36px); }   
	.section   { padding: 100px 0px; }
	.container-1-sm { max-width: calc(1224px + 36px);  }

	h1, .h1{ font-size: 60px; line-height: 68px; }
	h2, .h2{ font-size: 44px; line-height: 50px; }
	h3, .h3{ font-size: 36px; line-height: 44px; }
	h4, .h4{ font-size: 32px; line-height: 40px; }
	h5, .h5{ font-size: 28px; line-height: 36px; }
	h6, .h6{ font-size: 22px; line-height: 30px; }

	.text-20{ font-size: 18px; line-height: 26px; }

	.abt-rpd-card-1 { width: 51px; }
	.abt-rpd-card-2 { width: 50px; }

	.hm-services-content-wrapper .h6{ font-size: 20px; line-height: 28px; }
	.hm-services-content-wrapper{ width: 420px; }
	.hm-hero-row-1-wrapper{ margin-bottom: 0; }
	.hm-hero-text-left{ width: 460px; }
	.home-heart{ width: 400px; }
	.hm-services-subtitle{ width: 100%; }

	.hm-testimonial-left-text p{ width: 760px; }
	.testimonial-review-wrapper{ margin-top: 40px; }
	.testimonial-image-2{ width: 160px; height: 160px; }
	.testimonialreview-main{ height: 500px; }
	.testimonial-review-video-wrapper { width: 600px; height: 500px; flex-shrink: 0; }
	.testimonial-cards-wrapper { width: calc(100vw - 600px - 40px); flex-shrink: 0; }
	.testimonial-client-text{ font-size: 16px; line-height: 24px; }
	.client-initital .h6{ font-size: 20px; line-height: 28px; }

	.hm-abt-text-wrapper p{ width: 760px; }
	.hm-abt-pointers-right{ width: 785px; }
	.hm-abt-card-title{ width: 317px; }
	.hm-abt-card{ width: 377px; height: 270px; }
	.hm-abt-text-wrapper h2{ width: 480px; }
	/* .hm-abt-logo-left img{ width: 250px; height: auto; } */
	.hm-abt-pixel{ margin-top: 10px; }

	.services-card-wrapper{ margin-top: 40px; }
	.services-card{ width: 325px; height: 460px; }
	.services-art-board{ width: 300px; height: 300px; }
	.services-detail-text{ margin-top: 30px; }
	.services-art-board img{ width: 100%; height: 100%; object-fit: contain; }


	.industries-image-wrapper{ width: 850px; }
	.industries-text-wrapper > span{ font-size: 66px; line-height: 74px; }
	.industries-text-wrapper{ min-width: 460px; width: 460px; height: 100%; }

	.hm-abt-card-wrapper{ margin-top: 40px; }

	.nav-theme-change-icon{ width: 50px; height: 50px; font-size: 30px; }
	.light-mode-hover-icon, .dark-mode-hover-icon{ width: 30px; height: 30px; }
	.navbar-hamburger-effect{ width: 55px; height: 55px; }

	.why-choose-us-pointer-cards{ gap: 100px; }
	.why-choose-us-hand-image{ width: 370px; }
	.wc-bg-lines { width: 98%; }
	.wc-svg-lines-wrapper { height: 650px; }

	.stats-element-art-board{ width: 310px; height: 130px; }
	.stats-element-art-board img{ width: 100%; height: 100%; object-fit: contain; }

	.stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7{ width: 340px; height: 385px; }
	.stats-card-6{ width: 680px; height: 385px; }
	.stats-card-5{ width: 340px; }
	.stats-card-5 p{ width: 325px; padding-bottom: 0; }
	.stats-card-1 p{ width: 340px; }

	.chart-content { width: 130px; height: 130px; }

	.stats-card-1 { width: 340px; }

	.stats-global-right{ width: 320px; }
	.stats-global-text-wrapper{ width: 665px; }
	.stats-specification{ height: 50px; }

	.hm-faq-title{ width: 725px; }
	.faq-accordion{ width: 1150px; }
	.faq-accordion-title{ padding: 5px 0; }

	.blog-card-right-2{ width: 665px; }
	.blog-card-right-3{ width: 665px; }
	.hm-blog-card-left{ width: 665px; }
	.hm-blog-image{ height: 300px; }
	.blog-card-2-text{ width: 360px; }
	.blog-card-2-text h3{ margin-bottom: 10px; }
	.hm-blog-link span{ font-size: 14px; }

	.blog-card-3-left{ width: 290px; height: 310px;}
	.blog-card-3-right{ width: 351px; }
	.hm-blog-author-icon-wrapper { padding-bottom: 20px; }
	.hm-blog-social { gap: 15px; }
	.hm-blog-social-icons { gap: 15px; padding-bottom: 15px; }

	.teams-author-image{ width: 350px; right: -270px; }
	.teams-pixels-bottom-right{ width: 210px; }
	.teams-pixels-top-left{ width: 120px; }
	.teams-pixels-bottom-left{ width: 150px; }
	.teams-pixels-top-right{ width: 150px; height: auto; }
	.teams-section-wrapper{ padding-left: 105px; gap: 90px; }

	.mode-theme-btn img { width: 32px; height: 32px; }
	.website-header-logo { width: 146px; }
	.mode-theme-btn { padding: 10px; }
	.blog-desk-title {
  		display: -webkit-box;
  		-webkit-line-clamp: 2;
  		-webkit-box-orient: vertical;
  		overflow: hidden;
	}

	.menu-link a { width: 300px; }
	.header-links-wrapper  { gap: 0; padding: 0; padding-bottom: 15px; }
	.header-mega-menu { width: max-content; padding: 20px; top: 70px; }
	.header-pages-link-wrapper ul { padding: 0; gap: 50px; }
	.menu-link-icon, .mega-links-icon { width: 48px; height: 48px; font-size: 20px; border-radius: 14px; }
	.menu-social-icons { font-size: 20px; }
	.menu-company-contact .contact-phone span { font-size: 20px; }
	.header-pages-link-wrapper { gap: 20px; padding-bottom: 15px; margin-bottom: 15px; }

	.brand-quote a span{ font-size: 14px; }

	.footer-links { width: 555px; }
	.footer-vr-line { height: 180px; margin: 0 85px; }
	.footer-quote-right h2 { font-size: 78px; line-height: 88px; }

	/* .process-pointer-wrapper { transform: translateY(-20px); } */
	.process-pointer-icon { width: 50px; height: 50px; }
	.process-pointer { max-height: 50px; }
	.process-pointer-text { width: 445px; }
	.process-element { margin-left: 110px; }
	.process-section-title { width: 660px; }
	
	.process-pointer:nth-child(2) { margin-left: 140px; }
	.process-pointer:nth-child(3) { margin-left: calc(140px * 2); }
	.process-pointer:nth-child(4) { margin-left: calc(140px * 3); }
	.process-pointer:nth-child(5) { margin-left: calc(140px * 4); }
	.process-pointer:nth-child(6) { margin-left: calc(140px * 5); }

	/* STATS SECTION */
	.custom-pie-container { width: 190px; height: 190px; }
	.custom-radar-container { width: 210px; height: 210PX; }

	/* about page */
	.about-hero-mask-title { font-size: 322px; height: 288px; }
	.about-hero-section-title p { width: 510px; }
	.about-hero-section-title h1 { width: 585px; }

	.abt-timeline-title-left { width: 670px; }
	.abt-timeline-content-right { width: 445px; }

	.abt-timeline-content-right span  { font-size: 76px; line-height: 84px; }
	.abt-timeline-content-left { width: 280px; height: 260px; }
	.abt-timeline-content-left img{ width: 100%; height: 100%; object-fit: contain; }
	.abt-timeline-content-wrapper { gap: 70px; }
	.timeline-dot.active { right: 350px; }
	.abt-timeline-title-left h3 { margin-top: 30px; }
	.abt-timeline-content-right h6 { margin-top: 25px; }

	.text-80 { font-size: 76px; line-height: 84px; margin-bottom: 20px; }
	.abt-mis-vis-title-desktop-left { width: 890px; padding-top: 60px; padding-left: 35px; }
	.abt-mis-vis-quote-desktop { width: 260px; }

	.abt-mis-vis-title-desktop-right { width: 220px; margin-right: 45px; }
	.abt-mis-vis-content-desktop { width: 1100px; }

	.abt-mis-vis-content-right { width: 500px; height: 500px; }
	.abt-mis-vis-content-right img{ width: 100%; height: 100%; object-fit: contain; }

	.abt-our-values-right p { width: 725px; }
	.our-values-image { width: 650px; }
	.abt-our-values-pointer-left { width: 48px; height: 48px; }
	.abt-our-values-pointer { width: 535px; }

	.abt-our-values-hr { margin: 25px 0; }

	.abt-our-values-pointer-right { width: calc( 100% - 68px ); }
	.abt-our-values-pointer-left span img { width: 22px; height: 22px; }

	.why-rare-desktop-tree-image { width: 500px; }
	.why-rare-point-1 { left: 143px; }
	.why-rare-point-2 { right: 128px; }
	.why-rare-point-3 { bottom: 55px; left: 37px; }
	.why-rare-point-4 { bottom: 94px; right: 33px; }

	.abt-card-text { height: 170px; }
	.abt-rpd-card-1 .abt-card-text, .abt-rpd-card-3 .abt-card-text { height: 190px; }

	/* .abt-rpd-card-2 { transform: translateY(-250px); } */

	/* .rpd-card-1, .rpd-card-6, .rpd-card-7 { width: 445px; height: 437px; }
	.rpd-card-2 { width: 445px; height: 385px; }
	.rpd-card-3 { width: 410px; height: 372px; }
	.rpd-card-4 { width: 410px; height: 472px; }
	.rpd-card-5 { width: 410px; height: 401px; }
	.rpd-card-8 { width: 445px; height: 291px; } */

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-1 {
    	--card-start-x: -150px;
    	--card-start-y: 0;
    	--card-start-scale: 1.3;
    	--card-start-height: 437px;
    	--card-end-height: 400px;

    	width: 445px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-2 {
    	--card-start-x: -120;
    	--card-start-y: 100;
    	--card-start-scale: 1.3;
    	--card-start-height: 385px;
    	--card-end-height: 350px;

    	width: 445px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-3 {
    	--card-start-x: 0;
    	--card-start-y: -200;
    	--card-start-scale: 1.3;
    	--card-start-height: 372px;
    	--card-end-height: 320px;

    	width: 410px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-4 {
    	--card-start-x: 0;
    	--card-start-y: -50;
    	--card-start-scale: 1.3;
    	--card-start-height: 472px;
    	--card-end-height: 420px;

    	width: 410px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-5 {
    	--card-start-x: 0;
    	--card-start-y: 100;
    	--card-start-scale: 1.3;
    	--card-start-height: 401px;
    	--card-end-height: 360px;

    	width: 410px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-6 {
    	--card-start-x: 200;
    	--card-start-y: -150;
    	--card-start-scale: 1.3;
    	--card-start-height: 437px;
    	--card-end-height: 420px;

    	width: 445px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-7 {
    	--card-start-x: 150;
    	--card-start-y: 0;
    	--card-start-scale: 1.3;
    	--card-start-height: 437px;
    	--card-end-height: 420px;

    	width: 445px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-8 {
    	--card-start-x: 100;
    	--card-start-y: 100;
    	--card-start-scale: 1.3;
    	--card-start-height: 291px;
    	--card-end-height: 353px;

    	width: 445px;
	}

	.life-at-rpd-desktop-card-wrapper { height: 1140px; }

	/* .about-rpd-desktop-content-wrapper { padding-top: 243px; } */

	.pixels-logo { width: 270px; }
	.design-logo { width: 330px; }

	.abt-rpd-card span { font-size: 86px; line-height: 80px; }
	.rare-logo { width: 60px; }
	.abt-card-text h2 { margin-top: 30px; }

	.abt-timeline-title-right { width: 445px; }

	.about-hero-txt { font-size: 310px; line-height: 310px; }
	.abt-card-text { width: 300px; height: 280px; }
	.abt-rpd-card-1 .abt-card-text, .abt-rpd-card-3 .abt-card-text { height: 280px; }


	/* TIMELINE SECTION */
	.details-info-text { width: 770px; }

	/* TEAMS SECTION */
	.team-sec-content { padding: 0 90px; }
	.founder-img { width: 320px; }
	.team-details { width: 360px; padding: 30px 40px; }
	.foundr-msg-hr { margin: 16px 0; }
	.team-section-wrapper { height: 500px; }


	/* CONTACT PAGE */
	.contact-hero-wrapper { padding-top: 110px; }
	.contact-hero-title { font-size: 92px; line-height: 102px; width: 748px; }
	.contact-hero-image { width: 500px; height: 450px; }
	.contact-hero-image img { width: 100%; height: 100%; object-fit: contain; }

	.contact-form-right { width: 715px; }
	.contact-form-left { width: 540px; }
	.inquiry-form-contact-fields { margin-top: 20px; }
	.cnct-upload-button { padding: 18px 28px; }
	.cnct-prefer-to-talk { height: 410px; }
	.contact-form-right span input { width: 330px; }

	.cnct-what-happens-text { width: 380px; }
	.cnct-what-happens.active { width: 600px; }
	.cnct-what-happens span { font-size: 144px; line-height: 144px; }
	.cnct-what-happens { width: 175px; }

	/* .inquiry-form-contact-fields textarea { width: 45%; } */

	.cnct-hero-bg-image { top: 35px; }

	/* services page */

	.services-why-choose-rare-1 { width: 350px; height: 525px; }
	.services-why-choose-rare-2 { width: 350px; height: 262px; transform: translateY(-80px); }
	.services-why-choose-rare-3 { width: 350px; height: 395px; }

	.services-how-we-work-cards { height: 705px; }

	.services-how-we-work .card-body h3 { font-size: 60px; line-height: 68px; }

}

@media (max-width: 1599px) {
	:root { 
		--project-card-width: 800px; 
		--project-card-gap: 50px; 

		/* --card-final-width: 365px; */
		--card-final-width: 345px;
		
    	--card-2-start-width: 50px;
    	--card-3-start-width: 55px;
		--abt-hero-target-height: 380px;

	}

	.project-list { height: 430px; }

	.container-1 { max-width: calc(1248px + 36px); }   
	.section   { padding: 90px 0px; }
	.container-1-sm { max-width: calc(1123px + 36px); }

	.industries-section { padding: 80px 0; }

	h1, .h1 { font-size: 52px; line-height: 60px; }
	h2, .h2 { font-size: 42px; line-height: 50px; }
	h3, .h3 { font-size: 34px; line-height: 44px; }
	h4, .h4 { font-size: 30px; line-height: 48px; }
	h5, .h5 { font-size: 26px; line-height: 34px; }
	h6, .h6 { font-size: 20px; line-height: 28px; }

	.text-16 { font-size: 14px; line-height: 22px; }
	.text-18 { font-size: 16px; line-height: 22px; }
	.text-20{ font-size: 18px; line-height: 24px; }

	.hm-hero-sticky-inner { align-items: flex-start; padding-top: 60px; }
	.hm-hero-paragraph-wrapper{ padding-bottom: 30px; }
	.hm-services-content-wrapper{ margin-bottom: 20px; }

	.hm-services-content-wrapper .h6{ font-size: 18px; line-height: 26px; }
	.hm-services-content-wrapper{ width: 400px; }
	.hm-hero-text-left{ width: 455px; }
	.hm-hero-paragraph-wrapper{ gap: 15px; }
	.home-heart{ width: 350px;height: max-content; object-fit: contain; }

	/* testimonial section */
	.hm-testimonial-left-text p{ width: 700px; }
	.hm-testimonial-txt-wrapper{ justify-content: flex-start; gap: 100px; }

	.testimonialreview-main{ height: 100%; }
	.testimonial-review-video-wrapper { width: 550px; height: 380px; flex-shrink: 0; }
	.testimonial-cards-wrapper { width: calc(100vw - 550px - 40px); flex-shrink: 0; }
	.testimonial-image-2{ width: 140px; height: 140px; }
	.testimonial-image-3{ width: 100px; height: 100px; }
	/* .testimonial-cards-wrapper{ width: 700px; } */
	.client-initital .h6{ font-size: 18px; line-height: 26px; }

	.hm-abt-card-wrapper{ margin-top: 40px; }
	.hm-abt-pointers-right{ width: 790px; gap: 20px; }
	.hm-abt-card{ width: 385px; height: 205px; }
	.hm-abt-card-title{ width: 325px; }
	.hm-abt-logo-left{ width: 200px; height: 256; margin-left: 100px; }

	.hm-hero-paragraph-wrapper{ padding-bottom: 30px; }
	.hm-services-content-wrapper{ margin-bottom: 20px; }
	.hm-hero-row-1-wrapper{ margin-top: 40px; }

	.services-detail-text{ gap: 8px; margin-top: 25px; }
	.services-card-wrapper{  margin-top: 40px; }
	.services-card{ width: 297px; height: 350px; }
	.services-text h3{ margin-bottom: 6px; }
	.services-text{ padding: 20px; }
	.services-art-board{ width: 220px; height: 220px; }
	.services-detail-text p:first-child{ height: 65px; }

	.hm-abt-text-wrapper p{ gap: 16px; width: 100%; }
	.hm-abt-text-wrapper h2{ width: 100%; }
	.hm-abt-text-wrapper{ flex-direction: column; gap: 20px; }
	.hm-abt-card-title p{ gap: 16px; }

	.industries-text-wrapper > span{ font-size: 60px; line-height: 68px; }
	.industries-text-wrapper{ min-width: 410px; width: 410px; height: 100%; }
	.industries-text-wrapper p{ gap: 10px; }
	.industries-image-wrapper{ width: 790px; }
	.dark-mode-hover-icon, .light-mode-hover-icon{ width: 28px; height: 28px; }
	.nav-theme-change-icon{ width: 40px; height: 40px; font-size: 28px; line-height: 28px; }
	.navbar-hamburger-effect{ padding: 10px; width: 48px; height: 48px; }


	.why-choose-us-hand-image{ width: 290px; left: 48%; }
	.why-choose-us-card{ width: 415px; }
	.why-choose-us-pointer-cards{ gap: 75px; }
	.why-choose-us-pointer-wrapper{ margin-top: 40px; }
	.why-choose-hand { width: 310px; left: 48%; }
	.wc-bg-lines { height: 120%; }
	.wc-svg-lines-wrapper { height: 480px; }

	.stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7{ width: 312px; height: 285px; }
	.stats-card-5{ width: 312px; }
	.stats-card-6{ width: 625px; height: 285px; padding-top: 5px; }
	.stats-card-1{ width: 312px; }
	.stats-card-1 p{ width: 300px; }
	.stats-card-5{ width: 312px; }
	.stats-card-5 p { width: 280px; padding-bottom: 0; font-size: 14px; line-height: 20px; }
	.stats-card-1 p { font-size: 14px; line-height: 20px; }
	.stats-card .h1 { font-size: 40px; line-height: 48px; }
	.stats-specification{ height: 25px; font-size: 14px; line-height: 22px; }

	/* STATS SECTION */
	.custom-pie-container { width: 140px; height: 140px; }
	.custom-radar-container { width: 160px; height: 160PX; }

	.stats-element-art-board{ width: 275px; height: 100px; margin: 10px 0; }
	.stats-global-right{ width: 260px; }
	.stats-global-text-wrapper{ width: 580px; }

	.stats-card-1 h2, .stats-card-5 .h2 { font-size: 32px; line-height: 40px; margin-bottom: 14px; }

	.faq-accordion{ width: 1050px; }
	.faq-accordion-wrapper{ margin-top: 40px; }


	.inquiry-form-contact-fields{ margin-top: 40px; }
	.inquiry-form-project-field{ margin-top: 30px; padding-top: 30px; }
	.inquiry-form-contact-fields input{ margin: 3px 10px; }
	.inquiry-checkbox-wrapper input { width: 25px; height: 25px; }
	.inquiry-form-desktop-select-project { gap: 14px; }
	.inquiry-form-link { margin-top: 30px; }

	.blog-card-right-2 { width: 609px; padding: 20px; }
	.blog-card-right-3 { width: 609px; }
	.hm-blog-card-left { width: 609px; }

	.blog-card-2-text { width: 315px; }
	.hm-blog-social-icons { gap: 15px; padding-top: 12px; }
	.hm-blog-image { height: 310px; }
	.hm-blog-wrapper { margin-top: 30px; }
	.blog-desk-title { margin-bottom: 12px; }

	.blog-card-3-right { width: 315px; }
	.blog-card-3-left { width: 275px; height: 310px; }

	.teams-pixels-top-right { width: 120px; }
	.teams-quote-image { width: 340px; }
	.teams-section-wrapper { padding-left: 80px; gap: 150px; }

	.teams-author-image { width: 320px; right: -265px; }

	.teams-sec-owner-desi { padding-top: 15px; margin-top: 15px; }

	.teams-section-quote-text { width: 290px; left: 15px; bottom: 15px; }

	.mode-theme-btn img { width: 28px; height: 28px; }

	.website-header-logo { width: 126px; }
	.header-squished { width: 310px; }
	.mode-theme-btn { padding: 8px; }
	.nav-hamburger img { width: 22px; height: 22px; }

	.header-mega-links-wrapper { width: 315px; }
	.menu-link a { width: 265px; }
	.menu-link-icon, .mega-links-icon { width: 40px; height: 40px; border-radius: 12px; }
	.header-links-wrapper { margin-bottom: 15px; }

	.header-pages-link-wrapper { gap: 15px; }
	.menu-social-title, .contact-title, .head-add-country { margin-bottom: 10px; }

	.brand-quote .text-20{ font-size: 14px; line-height: 22px; }
	.brand-quote a span { font-size: 10px; }
	.brand-quote .h3 { margin-bottom: 15px; }

	.menu-social-icons, .menu-company-contact .contact-phone span { font-size: 18px; }

	.mega-links ul { padding-left: 60px; }

	.industries-desktop-pixel-1 { width: 120px; }
	.industries-desktop-pixel-2 { width: 90px; }
	.industries-desktop-pixel-3 { width: 30px; }
	.industries-card-wrapper { gap: 110px; }

	.footer-vr-line { margin: 0 60px; height: 165px; }

	.footer-address-wrapper { width: 275px; }
	.footer-quote-right h2 { font-size: 74px; line-height: 86px; }
	.footer-quote-right { width: 670px; }
	.social-icon span { font-size: 22px; }

	.footer-detail-wrapper { padding: 25px 0; margin: 25px 0; }

	.navbar-wrapper { border-radius: 12px; }
	.inquiry-form-contact-fields h3 { line-height: 50px; }

	.active-project-title { margin-bottom: 10px; left: 10px; }

	.services-section { height: 190vh; }

	/* process */
	.process-section-title { width: 700px; }
	.process-section-title p { width: 90%; }
	.process-pointer .h2 { font-size: 32px; line-height: 38px; }
	.process-pointer-icon { width: 38px; height: 38px; border-radius: 12px; font-size: 20px; }
	.process-pointer { max-height: 42px; }
	.process-pointer-wrapper { gap: 20px; height: 450px; }
	.process-pointer-text { width: 390px; }

	.process-element { width: 300px; height: 300px; }
	.process-element-image { width: 100%; height: 100%; object-fit: contain; }
	.process-completed { width: 24px; }
	.process-pointer:nth-child(2) { margin-left: 120px; }
	.process-pointer:nth-child(3) { margin-left: calc(120px * 2); }
	.process-pointer:nth-child(4) { margin-left: calc(120px * 3); }
	.process-pointer:nth-child(5) { margin-left: calc(120px * 4); }
	.process-pointer:nth-child(6) { margin-left: calc(120px * 5); }

	.process-pointer-text p { padding-top: 5px; }
	.hm-about-main { padding: 30px; }
	.process-section-sticky { height: calc(100vh * 9); }

	/* about page */

	.abt-time-line-desktop-sticky { height: 500vh; }

	.town h2 { font-size: 16.3vw; line-height: 185px; }
	.town { top: 180px; }
	.about-video-text-practice { height: 390px; }
	.about-hero-section-title h1 { width: 510px; }
	.timeline-hr { margin-top: 50px; margin-bottom: 45px; }
	.abt-timeline-content-right span  { font-size: 74px; line-height: 82px; }
	.abt-timeline-title-left { width: 635px; }
	.abt-timeline-content-right { width: 490px; }
	.abt-timeline-content-left { width: 240px; height: 240px; }

	.timeline-dot.active{ right: 400px; } 
	.abt-mis-vis-title-desktop-left { width: 850px; padding-top: 45px; }
	.text-80 { font-size: 72px; line-height: 80px; }
	.abt-mis-vis-quote-desktop { width: 245px; }

	.abt-mis-vis-title-desktop-right { width: 200px; margin-bottom: 17px; }
	.abt-mis-vis-content-right { width: 450px; height: 450px; }
	.abt-mis-vis-content-left { width: 470px; }

	.abt-mis-vis-content-desktop { width: 1050px; margin-top: 40px; }

	.our-values-image { width: 570px; }
	.abt-our-values-right p { width: 660px; margin-bottom: 40px; }
	.abt-our-values-pointer-left { width: 44px; height: 44px; }
	.abt-our-values-pointer { width: 470px; }
	.abt-our-values-pointer-right { width: calc( 100% - 64px ); }
	.abt-our-values-hr { margin: 20px 0; }
	.abt-our-values-pointer-right h3 { line-height: 34px; margin-bottom: 10px; }

	.why-rare-desktop-content { margin-top: 80px; }
	.why-rare-desktop-tree-image { width: 460px; }

	.why-rare-pointers { width: 370px; }
	.why-rare-pointers span { margin-top: 10px; }

	.why-rare-point-1 { left: 40px; top: -20px; }
	.why-rare-point-2 { right: 10px; }
	.why-rare-point-3 { bottom: 47px; left: 25px; }
	.why-rare-point-4 { bottom: 79px; right: 23px; }

	.abt-rpd-card span { font-size: 78px; line-height: 70px; }
	.rare-logo { width: 55px; }
	.abt-rpd-card-1 { width: 51px; }
	.abt-rpd-card-2 { width: 45px; }
	.abt-rpd-card-3 { width: 55px; }

	.rpd-pixel-right, .rpd-pixel-left { width: 120px; }

	.abt-rpd-strip { font-size: 30px; line-height: 38px; bottom: -22px; }
	.abt-rpd-section-desktop { height: 850vh; }
	.tree-section-desktop { height: 500vh; }

	/* .rpd-card-1, .rpd-card-6, .rpd-card-7 { width: 402px; height: 392px; }
	.rpd-card-2 { width: 402px; height: 348px; }
	.rpd-card-3 { width: 380px; height: 344px; }
	.rpd-card-4 { width: 380px; height: 438px; }
	.rpd-card-5 { width: 380px; height: 372px; }
	.rpd-card-8 { width: 402px; height: 263px; } */

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-1 {
    	--card-start-x: -150px;
    	--card-start-y: 0;
    	--card-start-scale: 1.2;
    	--card-start-height: 392px;
    	--card-end-height: 360px;

    	width: 402px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-2 {
    	--card-start-x: -120;
    	--card-start-y: 100;
    	--card-start-scale: 1.2;
    	--card-start-height: 348px;
    	--card-end-height: 310px;

    	width: 402px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-3 {
    	--card-start-x: 0;
    	--card-start-y: -200;
    	--card-start-scale: 1.2;
    	--card-start-height: 344px;
    	--card-end-height: 320px;

    	width: 380px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-4 {
    	--card-start-x: 0;
    	--card-start-y: -50;
    	--card-start-scale: 1.2;
    	--card-start-height: 438px;
    	--card-end-height: 350px;

    	width: 380px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-5 {
    	--card-start-x: 0;
    	--card-start-y: 100;
    	--card-start-scale: 1.2;
    	--card-start-height: 401px;
    	--card-end-height: 360px;

    	width: 380px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-6 {
    	--card-start-x: 200;
    	--card-start-y: -150;
    	--card-start-scale: 1.2;
    	--card-start-height: 392px;
    	--card-end-height: 360px;

    	width: 402px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-7 {
    	--card-start-x: 150;
    	--card-start-y: 0;
    	--card-start-scale: 1.2;
    	--card-start-height: 392px;
    	--card-end-height: 360px;

    	width: 402px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-8 {
    	--card-start-x: 100;
    	--card-start-y: 100;
    	--card-start-scale: 1.2;
    	--card-start-height: 291px;
    	--card-end-height: 353px;

    	width: 402px;
	}

	.life-at-rpd-desktop-card-wrapper { height: 1095px; margin-top: 40px; }
	.rpd-card-col-3 { transform: translateY(-190px); }
	.why-rare-title-desktop { width: 620px; }

	.abt-timeline-title-right { width: 490px; }
	.abt-card-text { width: 290px; height: 280px; }
	.about-hero-txt { font-size: 270px; line-height: 270px; }

	.speed-chart { width: 96%; }

	/* TIMELINE SECTION */


	/* CONTACT PAGE */

	.contact-hero-title { font-size: 86px; line-height: 96px; width: 699px; }
	.contact-hero-image { width: 450px; height: 400px; }
	.cnct-hero-bg-image { top: 10px; }

	.contact-form-left { width: 495px; }
	.contact-form-right { width: 665px; }
	.cnct-prefer-to-talk { padding: 25px; height: 380px; }
	.cnct-upload-button { padding: 16px 28px; }
	.cnct-prefer-right { width: 180px; right: 25px; bottom: 25px; }
	.cnct-prefer-left p { width: 250px; }
	.contact-form-right span { margin-bottom: 18px; }
	.cnct-project-detail textarea { margin-top: 18px; }
	.cnct-form-checkbox-option label span, .cnct-upload-button span, .cnct-right-link span { margin-bottom: 0 !important; }

	.contact-what-happens-title { width: 440px; }
	.cnct-what-happens span { font-size: 138px; line-height: 138px; }
	.cnct-what-happens-text { width: 340px; }
	.cnct-what-happens.active { width: 555px; }
	.cnct-what-happens { width: 165px; }

	.cnct-what-happens-pointer-wrapper { margin-top: 40px; }

	/* .inquiry-form-contact-fields textarea { width: 44%; } */
	.faq-accordion-wrapper, .inquiry-form-contact-fields { margin-top: 25px; }
	.inquiry-form-project-field { padding-top: 0; margin-top: 40px; }
	.inquiry-checkbox-wrapper { margin-top: 0 !important; }
	.inquiry-form-project-field h3 { margin-bottom: 0; }
	.inquiry-form-contact-fields textarea { height: 80px; }

	/* services page */

	.services-why-choose-rare-card-wrapper { margin-top: 40px; }
	.services-why-rare-card-1 { gap: 40px; }
	.services-why-rare-card-1-text { width: 302px; margin-right: 40px; }
	/* .services-why-rare-card-1-text { width: 302px; margin-right: 40px; display: none; } */

	.services-why-choose-rare-1 { width: 320px; height: 450px; }
	.services-why-choose-rare-2 { width: 320px; height: 239px; transform: translateY(-65px); border-radius: 0 0 0 180px; }
	.services-why-choose-rare-3 { width: 320px; height: 362px; }

	.services-how-we-work .tab-header { height: 55px; }

	.services-how-we-work-2 { top: 50px; }
	.services-how-we-work-3 { top: 100px; }
	.services-how-we-work-4 { top: 150px; }
	.services-how-we-work-5 { top: 200px; }
	.services-how-we-work-6 { top: 250px; }

	.services-how-we-work-cards { height: 570px; }

	.services-how-we-work .card-body h3 { font-size: 52px; line-height: 52px; }
	.services-how-we-work .card-body { padding: 60px 40px 40px; }
}

@media (max-width: 1439px) {
	:root {
		--project-card-width: 730px; 
		--project-card-gap: 50px;

		--card-1-start-width: 47px;
    	--card-2-start-width: 44px;
    	--card-3-start-width: 51px;

		--card-1-width: 190px;
    	--card-2-width: 215px;
    	--card-3-width: 258px;

		--abt-hero-target-height: 300px;
	}
	.project-list { height: auto; }

	.container-1 { max-width: calc(1056px + 36px); }   
	.container-1-sm { max-width: calc(950px + 36px); }

	h1, .h1 { font-size: 46px; line-height: 54px; }
	h2, .h2 { font-size: 36px; line-height: 44px; margin-bottom: 16px; }
	h3, .h3 { font-size: 30px; line-height: 38px; }
	h4, .h4 { font-size: 28px; line-height: 36px; }
	h5, .h5 { font-size: 24px; line-height: 32px; }
	h6, .h6 { font-size: 20px; line-height: 28px; }

	.text-20 { font-size: 16px; line-height: 22px; }
	.text-18 { font-size: 14px; line-height: 20px; }
	.text-16 { font-size: 12px; line-height: 24px; }
	.site-header { top: 16px; }

	.hm-hero-stats-wrapper{ gap: 50px; }
	.hm-services-content-wrapper .h6{ font-size: 16px; line-height: 22px; }
	.hm-services-content-wrapper{ margin-bottom: 20px; width: 350px; padding-left: 12px;  }
	.hm-hero-row-1-wrapper{ margin-top: 40px; }
	.home-heart{ width: 280px; object-fit: contain; }
	.home-brain{ width: 350px; object-fit: contain; }
	.home-handshake{ width: 350px; height: auto; object-fit: contain; }
	.hm-hero-subtitle{ padding-bottom: 30px; }
	.hm-hero-redirect-link img{ width: 20px; height: 20px; }
	.hm-hero-text-left{ width: 400px; }
	.hm-hero-stats-wrapper{ gap: 50px; }
	.hm-services-content-wrapper .h6{ font-size: 16px; line-height: 22px; }
	.hm-services-content-wrapper{ margin-bottom: 20px; width: 350px; padding-left: 12px;  }
	.hm-hero-row-1-wrapper{ margin-top: 40px; }
	.home-heart{ width: 280px; object-fit: contain; }
	.home-brain{ width: 350px; object-fit: contain; }
	.home-handshake{ width: 350px; height: auto; object-fit: contain; }
	.hm-hero-subtitle{ padding-bottom: 30px; }
	.hm-hero-redirect-link img{ width: 20px; height: 20px; }
	.hm-hero-text-left{ width: 400px; }
	.hm-hero-sticky-inner { padding-top: 80px; }

	/* testimonial */
	.hm-testimonial-left-text h2{ width: 380px; }
	.hm-testimonial-left-text p{ width: 625px; }
	/* .testimonial-cards-wrapper{ width: 625px; } */
	.client-initital .h6{ font-size: 16px; line-height: 24px; }
	.testimonial-svg{ width: 20px; height: 20px; }
	.tst-swiper-arrow-wrapper{ margin-top: 30px; }
	.testimonial-swiper-arrow{ padding: 10px; border-radius: 12px; }
	.client-initital span{ display: flex; align-items: center; justify-content: center; padding: 10px 12px; border-radius: 12px; }
	.client-initital .h6{ font-size: 14px; line-height: 20px; }
	.hm-testimonial-txt-wrapper{ gap: 55px; }
	.testimonialreview-main{ height: 400px; }
	.testimonial-review-video-wrapper { width: 500px; height: 400px; flex-shrink: 0; }
	.testimonial-cards-wrapper { width: calc(100vw - 500px - 40px); flex-shrink: 0; }
	.testimonial-image-2{ width: 100px; height: 100px; }
	.testimonial-image-3{ width: 80px; height: 80px; }

	.wc-bg-lines { height: 120%; }
	.wc-svg-lines-wrapper { height: 420px; }

	/* about us */
	.hm-abt-logo-left{ width: 170px; height: 220px; margin-left: 70px; }
	.hm-abt-pointers-right{ width: 680px; gap: 20px; }
	.hm-abt-card{ width: 330px; height: 205px; }
	.hm-about-main{ padding: 30px; }

	.hm-abt-card-title{ width: 270px; }
	.hm-abt-card-title p{ gap: 10px; }

	.services-detail-text{ margin-top: 25px; }
	.services-card{ width: 250px; height: 340px; }
	.services-text .h6{ font-size: 18px; line-height: 26px; }
	.services-detail-text p:first-child{ height: 60px; }
	.services-detail-text{ margin-top: 20px; }
	.services-section { height: 185vh; }

	.hm-abt-card-title .h6{ font-size: 18px; line-height: 24px; }
	.industries-text-wrapper > span{ font-size: 50px; line-height: 60px; }
	.industries-image-wrapper{ width: 680px; }
	.industries-text-wrapper{ min-width: 340px; width: 340px; }

	.navbar-hamburger-effect{ width: 45px; height: 45px; }
	.nav-theme-change-icon{ width: 38px; height: 38px; font-size: 28px; line-height: 28px; }

	.why-choose-us-card{ width: 310px; }
	.why-choose-us-pointer-cards{ gap: 50px; }
	.why-choose-us-hand-image{ width: 260px; }
	.why-choose-us-text-wrapper{ width: 615px; }
	.why-choose-hand { width: 260px; }

	.stats-card .h1 { font-size: 36px; line-height: 42px; }

	.stats-card-1, .stats-card-2, .stats-card-3, .stats-card-4, .stats-card-7{ width: 264px; height: 290px; }
	.stats-card-5{ width: 264px; }
	.stats-card-6{ width: 529px; height: 290px; }
	.stats-specification { height: 40px; }
	.stats-card-5 p{ width: 240px; }
	.stats-card-1 p{ width: 220px; }
	.stats-global-right{ width: 215px; }
	.stats-element-art-board{ width: 225px; margin: 10px 0; }
	.stats-global-text-wrapper{ width: 495px; }

	.faq-accordion{ width: 875px; }

	.blog-card-right-3, .hm-blog-card-left{ width: 513px; }
	.blog-card-right-2{ width: 513px; }
	.blog-card-2-text, .blog-card-3-right{ width: 250px; }
	.blog-card-3-left{ width: 240px; }

	.hm-blog-text-wrapper{ width: 510px; }

	.teams-quote-image{ width: 280px; }
	.teams-section-quote-text{ width: 260px; }
	.teams-section-wrapper{ gap: 80px; padding-left: 40px; }
	.teams-pixels-top-right{ width: 100px; }
	.teams-pixels-top-left{ width: 100px; z-index: -1; }
	.teams-pixels-bottom-left{ width: 120px; z-index: -1; }
	.hm-teams-link{ margin-top: 25px; }
	.teams-section-quote-text{ left: 10px; bottom: 10px; }
	.teams-author-image{ width: 280px; }

	.mode-theme-btn img { width: 24px; height: 24px; }
	.nav-hamburger img { width: 22px; height: 22px; }

	/* .website-header-logo{ width: 140px; } */

	.mega-links ul { gap: 5px; padding-left: 55px; }
	.menu-link a { width: 230px; }
	.header-mega-links-wrapper { width: 280px; }

	.menu-link-icon, .mega-links-icon { width: 40px; height: 40px; font-size: 18px; }
	.header-mega-menu { top: 70px; }
	.menu-company-contact, .menu-social-icon { width: 230px; }
	.header-contact-detail { gap: 30px; }
	.menu-social-icons, .menu-company-contact .contact-phone span  { font-size: 14px; }
	.menu-social-icons { gap: 15px; }
	.menu-social-title, .contact-title, .head-add-country { margin-bottom: 10px; }

	.header-pages-link-wrapper { padding-bottom: 20px; margin-bottom: 20px; gap: 20px; }
	.header-links-wrapper { padding-bottom: 20px; margin-bottom: 20px; }
	.brand-quote a { padding: 6px 20px; }

	.footer-quote-right h2 { font-size: 66px; line-height: 74px; }
	.footer-quote-right { width: 600px; }

	.footer-pixel-1{ width: 250px; }

	.footer-links {width: 470px; }

	.footer-vr-line { margin: 0 45px; }
	.footer-pixel-3 { width: 250px; }
	.footer-copyright { padding-top: 50px; }

	.social-icon span { font-size: 20px; }

	.inquiry-form-contact-fields h3 { line-height: 46px; }
	.expand-faq { margin-right: 30px; }

	.process-element { margin-left: 20px; }
	.process-pointer-text { width: 360px; }
	.process-pointer-wrapper { height: 460px; }
	.process-element-image { object-fit: contain; }
	.process-section-title p { width: 80%; }

	/* about page */
	/* .about-hero-section-desktop .container-1 { margin-top: 10px; } */
	.town { top: 150px; }
	.town h2 { font-size: 15.5vw; line-height: 165px; }
	.about-video-text-practice { height: 345px; }
	.about-hero-section-title h1 { width: 455px; }
	.about-hero-section-title p { width: 395px; }

	.abt-timeline-content-right { width: 445px; }
	.desktop-dot-target { right: 340px; }
	.timeline-hr { margin-bottom: 30px; margin-top: 40px; }
	.abt-timeline-content-right span  { font-size: 68px; line-height: 74px; }
	.abt-timeline-title-right { width: 370px; }
	.abt-timeline-title-left h3 { margin-top: 25px; }
	.abt-timeline-content-left { width: 220px; height: 220px; }
	.abt-timeline-title-left { width: 590px; }
	.abt-timeline-content-wrapper { gap: 50px; }

	.abt-mis-vis-content-desktop { width: 1000px; }
	.text-80 { font-size: 66px; line-height: 74px; }
	.abt-mis-vis-title-desktop-left { width: 740px; padding-top: 35px; padding-left: 25px; }
	.abt-mis-vis-quote-desktop { width: 220px; }
	.abt-mis-vis-title-desktop-right { margin-right: 20px; }

	.abt-mis-vis-content-right { width: 400px; height: 400px; }
	.abt-mis-desktop { margin-bottom: 25px; }

	.our-values-image { width: 550px; }
	.abt-our-values-right p { width: 550px; }
	.our-values-image { width: 440px; }
	.abt-our-values-pointer { width: 430px; }
	.abt-our-values-pointer-left { width: 40px; height: 40px; }
	.abt-our-values-pointer-left span img { width: 20px; height: 20px; }
	.abt-our-values-pointer-right { width: calc( 100% - 60px ); }
	.abt-our-values-hr { margin: 15px 0; }

	.why-rare-title-desktop { width: 70%; }
	.why-rare-desktop-tree-image { width: 420px; }

	.why-rare-pointers { padding: 15px; width: 320px; }
	.why-rare-point-1 { left: 12px; }
	.why-rare-point-2 { top: -10; right: 10px; }
	.why-rare-point-3 { bottom: 47px; left: 0; }
	.why-rare-point-4 { bottom: 50px; right: 0px; }

	.abt-card-text h2 { font-size: 22px; line-height: 30px; margin: 15px 0; }

	.abt-rpd-card-1 { width: 45px; }
	.abt-rpd-card-3 { width: 53px; }

	/* .rpd-card-1, .rpd-card-6, .rpd-card-7 { width: 350px; height: 344px; }
	.rpd-card-2 { width: 350px; height: 303px; }
	.rpd-card-3 { width: 315px; height: 286px; }
	.rpd-card-4 { width: 315px; height: 363px; }
	.rpd-card-5 { width: 315px; height: 308px; }
	.rpd-card-8 { width: 350px; height: 229px; } */

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-1 {
    	--card-start-x: -150px;
    	--card-start-y: 0;
    	--card-start-scale: 1.2;
    	--card-start-height: 344px;
    	--card-end-height: 300px;

    	width: 350px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-2 {
    	--card-start-x: -120;
    	--card-start-y: 80;
    	--card-start-scale: 1.2;
    	--card-start-height: 303px;
    	--card-end-height: 280px;

    	width: 350px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-3 {
    	--card-start-x: 0;
    	--card-start-y: -200;
    	--card-start-scale: 1.2;
    	--card-start-height: 286px;
    	--card-end-height: 260px;

    	width: 315px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-4 {
    	--card-start-x: 0;
    	--card-start-y: -70;
    	--card-start-scale: 1.2;
    	--card-start-height: 363px;
    	--card-end-height: 320px;

    	width: 315px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-5 {
    	--card-start-x: 0;
    	--card-start-y: 100;
    	--card-start-scale: 1.2;
    	--card-start-height: 308px;
    	--card-end-height: 280px;

    	width: 315px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-6 {
    	--card-start-x: 100;
    	--card-start-y: -120;
    	--card-start-scale: 1.2;
    	--card-start-height: 344px;
    	--card-end-height: 300px;

    	width: 350px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-7 {
    	--card-start-x: 150;
    	--card-start-y: -30;
    	--card-start-scale: 1.2;
    	--card-start-height: 344px;
    	--card-end-height: 300px;

    	width: 350px;
	}

	.life-at-rpd-desktop-card-wrapper.desktop .rpd-card-8 {
    	--card-start-x: 100;
    	--card-start-y: 100;
    	--card-start-scale: 1.2;
    	--card-start-height: 229px;
    	--card-end-height: 210px;

    	width: 350px;
	}

	.life-at-rpd-desktop-card-wrapper { gap: 20px; height: 900px; }
	.rpd-card-col { gap: 20px; }

	.rpd-card-col-3 { transform: translateY(-175px); }
	.rpd-pixel-right { bottom: -45px; }

	.abt-rpd-card span { font-size: 74px; line-height: 60px; }
	.rare-logo { width: 50px; }
	.abt-card-text h2 { margin-top: 25px; }

	.abt-rpd-section-desktop { height: 800vh; }

	.abt-time-line-desktop-sticky { height: 600vh; }

	.abt-card-text { width: 245px; height: 210px; }
	/* .abt-rpd-card-2 { transform: translateY(-205px); } */
	/* .about-rpd-desktop-content-wrapper { padding-top: 200px; } */
	.abt-rpd-card-1 .abt-card-text, .abt-rpd-card-3 .abt-card-text { height: 210px; }

	.abt-timeline-content-wrapper { align-items: flex-end; }
	.about-hero-txt { font-size: 260px; line-height: 260px; }

	/* TIMELINE SECTION */
	.timeline-titles h2, .bold-subtitle { width: 570px; }
	.regular-subtitle, .details-info-text p { width: 400px; }

	/* TEAMS SECTION */
	.team-sec-content { padding: 0 70px; }
	.founder-img { width: 300px; }
	.team-details { width: 300px; padding: 25px 35px; }
	.team-section-wrapper { height: 460px; }
	
	


	/* CONTACT PAGE */

	.contact-hero-wrapper { padding-top: 85px; }
	.contact-hero-title { font-size: 72px; line-height: 86px; width: 585px; }
	.contact-hero-image { width: 390px; height: 350px; }
	.cnct-hero-bg-image { top: -30px; }

	.contact-form-right span input { width: 275px; }
	.contact-form-right { width: 567px; }
	.contact-form-left { width: 440px; }
	.cnct-prefer-to-talk { margin-top: 30px; height: 355px; }
	.cnct-prefer-left p { width: 205px; }
	.cnct-prefer-right { width: 170px; }
	.cnct-form-checkbox { gap: 15px; }
	.contact-prefer-title span { font-size: 24px; line-height: 24px; }

	.cnct-what-happens span { font-size: 130px; line-height: 130px; }
	.cnct-what-happens.active { width: 460px; }
	.cnct-what-happens-text { width: 270px; }
	.cnct-what-happens { width: 157px; }

	.inquiry-form-contact-fields textarea { width: 57%; }
	.inquiry-form-project-field h3 { margin-bottom: 0; } 
	.inquiry-checkbox-wrapper { margin-top: 0; }

	.services-why-choose-rare-1 { width: 300px; height: 450px; }
	.services-why-choose-rare-2 { width: 300px; height: 224px; transform: translateY(-65px); border-radius: 0 0 0 180px; }
	.services-why-choose-rare-3 { width: 300px; height: 339px; border-radius: 80px; }

	.services-why-rare-card-1-text { width: 260px; }

	.services-how-we-work-cards { --card-movement-distance: 220px; height: 545px; }
	.services-how-we-work .card-body h3 { font-size: 48px; line-height: 48px; }
	.services-how-we-work .card-body { padding: 45px 40px 40px; }
	.services-how-we-work p { width: 710px; }

	.services-how-we-work .tab-header { width: 180px; }
}

@media (max-width: 1359px) {
	.footer-quote-right h2 { font-size: 58px; line-height: 66px; margin-bottom: 5px; }
	.footer-quote-right { width: 525px; }
	.footer-quote-right p { margin-bottom: 30px; }

	.footer-social-wrapper { gap: 40px; }
	.social-icon a { gap: 12px; }

	.footer-links { width: 405px; }
	.footer-copyright { padding-top: 35px; }
	.footer-address-wrapper { width: 240px; }

	.footer-add-country { gap: 5px; }
	.footer-vr-line { height: 155px; }

	.footer-quote-right .h6 { font-size: 18px; line-height: 26px; }
}














































































@media (max-width: 1799px) {}

@media (max-width: 1599px) {
    .foot-slogan-block {  width: 700px; }
    .slogan-title { font-size: 76px; }
}

@media (max-width: 1599px) and (max-height: 750px) {}

@media (max-width: 1439px) {
    .foot-slogan-block {  width: 620px; }
    .slogan-title { font-size: 68px; }
}

@media (max-width: 1359px) {}

/* Low Height Resolution for Small laptops */
@media (max-width: 1359px) and (max-height: 600px) {}

@media (max-width: 1199px) {}

/* Very-Small size laptop */
@media (max-width: 1024px) and (max-height: 770px) {  }

@media (max-width: 1024px) {}

@media (max-width: 991px) {}

@media (max-width: 839px) {}

@media (max-width: 767px) {}

@media (max-width: 639px) {}

@media (max-width: 575px) {}

@media (max-width: 479px) {}

@media (max-width: 439px) {}

@media (max-width: 400px) {}

@media (max-width: 374px) {}

@media (max-width: 359px) {}