
.section.footer { padding-bottom: 40px; }
.footer-quote-right h2 { font-size: 80px; line-height: 90px; }

.footer-quote-wrapper { display: flex; align-items: center; justify-content: space-between; }
.footer-quote-right { width: 776px; position: relative; z-index: 3; }
.footer-quote-right p { margin-bottom: 30px; }
.footer-quote-title { margin-top: 6px; }

.social-icon a{ display: flex; align-items: center; gap: 20px; transition: all 0.6s ease; color: #c6c6c6; }
.social-icon a:hover{ color: var(--primary); }
.social-icon span { font-size: 26px; }

.footer-social-wrapper { display: flex; align-items: flex-start; gap: 60px; }
.footer-social-row { display: flex; flex-direction: column; align-items: flex-start; gap: 20px; }

.footer-detail-wrapper { display: flex; align-items: flex-start; padding: 30px 0; margin: 30px 0; border-top: 1px solid #424242; border-bottom: 1px solid #424242; }

.footer-links { display: flex; width: 672px; align-items: flex-start; justify-content: space-between; margin-top: 20px; margin-bottom: 10px; }
.footer-link-col ul li { margin-bottom: 6px; transition: all 0.6s ease; }
.footer-link-col ul li:hover { color: var(--primary); }
.footer-link-col ul li:nth-last-child(1) { margin-bottom: 0px; }

.footer-address { width: 250px; }
.footer-address-wrapper { width: 317px; display: flex; align-items: flex-start; gap: 20px; }

.back-top-pointer { cursor: pointer; }

.footer-vr-line { width: 1px; height: 170px; background-color: #424242; margin: 0 113px; }

.footer-company-detail { width: 100%; }
.footer-contact { display: flex; justify-content: space-between; align-items: flex-start; margin-top: 20px; }
.footer-cnct { display: flex; gap: 6px; }

.footer-add-country .active p { color: var(--primary); }
.footer-cnct:nth-child(1) { margin-bottom: 10px; }

.footer-copyright { position: relative; display: flex; align-items: center; justify-content: space-between; padding-top: 60px; z-index: 3; }
.footer-copyright-right ul { display: flex; align-items: center; gap: 30px; }

.footer { position: relative; }
.footer-pixel-1 { position: absolute; top: 0; left: 0; }
.footer-pixel-2 { position: absolute; bottom: 0; left: 0; }
.footer-pixel-3 { position: absolute; bottom: 0; right: 0; }

.footer-add-country { display: flex; flex-direction: column; gap: 10px; }
.footer-add-country div { cursor: pointer; transition: all 0.6s ease; }
.footer-social-icon-tablet { display: none; }

.footer-copyright-color { color: rgba(198, 198, 198, 50%); }
.footer-company-contact a { transition: all 0.6s ease; }
.footer-company-contact a:hover { color: var(--primary); }
.quick-link-only-title, .services-only-title, .only-for-mobile-three-column { display: none; }




@media (max-width: 1799px) {
	.brand-quote a span{ font-size: 14px; }
	.footer-links { width: 555px; }
	.footer-vr-line { height: 180px; margin: 0 85px; }
	.footer-quote-right h2 { font-size: 78px; line-height: 88px; }
}

@media (max-width: 1599px) {
	.footer-vr-line { margin: 0 60px; height: 165px; }

	.footer-address-wrapper { width: 275px; }
	.footer-quote-right h2 { font-size: 74px; line-height: 86px; }
	.footer-quote-right { width: 670px; }
	.social-icon span { font-size: 22px; }

	.footer-detail-wrapper { padding: 25px 0; margin: 25px 0; }
}

@media (max-width: 1439px) {
	.footer-quote-right h2 { font-size: 66px; line-height: 74px; }
	.footer-quote-right { width: 600px; }
	.footer-pixel-1{ width: 250px; }
	.footer-links {width: 470px; }
	.footer-vr-line { margin: 0 45px; }
	.footer-pixel-3 { width: 250px; }
	.footer-copyright { padding-top: 50px; }
	.social-icon span { font-size: 20px; }
    .footer-quote-right p { margin-bottom: 20px; }
    .social-icon a { gap: 12px; }
    .footer-cnct:first-child { margin-bottom: 6px; }
    
}

@media (max-width: 1359px) {

	.footer-quote-right h2 { font-size: 58px; line-height: 66px; margin-bottom: 5px; }
	.footer-quote-right { width: 525px; }
	.footer-social-wrapper { gap: 40px; }
	.footer-links { width: 520px; }
	.footer-copyright { padding-top: 35px; }
	.footer-address-wrapper { width: 260px; }
	.footer-add-country { gap: 5px; }
	.footer-vr-line { height: 155px; }
	.footer-quote-right .h6 { font-size: 18px; line-height: 26px; }
	.text-80 { font-size: 58px; line-height: 66px; margin-bottom: 20px; }
}

@media (max-width: 1199px) {
    .footer-quote-right { width: 75%; }
	.footer-detail-wrapper { flex-direction: column; margin: 30px 0; padding: 30px 0; }
	.footer-links { width: 100%; gap: 50px; margin-bottom: 0; }
	.footer-contact { justify-content: flex-start; gap: 50px; }
	.footer-links-wrapper { width: 100%; }
	.footer-links { justify-content: space-between;}
	.footer-address-wrapper { gap: 30px; width: 320px; }
	.footer-contact { justify-content: space-between; }
	.rare-pixels-company-logo { margin: 0 30px; }
	.footer-social-wrapper { flex-direction: column; gap: 20px; }
} 


@media (max-width: 1024px) {
    .footer-detail-wrapper { flex-direction: row; }
    .footer-vr-line { height: 170px; margin: 0 35px; }
    .footer-add-country {  flex-direction: row; gap: 15px; }
    .footer-address-wrapper { flex-direction: column; width: 200px; gap: 10px; }
    .footer-address { width: 100%; }
    .footer-links { gap: 30px; }
    .footer-quote-right { width: 60%; }
    .footer-social-wrapper { flex-direction: row; gap: 50px; }
}

@media (max-width: 1024px) and (max-height: 770px) { 
    .footer-detail-wrapper { flex-direction: row; }
    .footer-vr-line { height: 170px; margin: 0 35px; }
    .footer-add-country {  flex-direction: row; gap: 15px; }
    .footer-address-wrapper { flex-direction: column; width: 200px; gap: 10px; }
    .footer-address { width: 100%; }
    .footer-links { gap: 30px; }
    .footer-quote-right { width: 60%; }
    .footer-social-wrapper { flex-direction: row; gap: 50px; }
}

@media (max-width: 839px) {	
	.footer-quote-right h2 { font-size: 56px; line-height: 64px; }
	.footer-quote-right { width: 70%; }
	.footer-quote-wrapper { gap: 40px; }
	.inquiry-form-contact-fields-tablet { gap: 20px; }
	.footer-copyright-right ul { gap: 22px; }
	.inquiry-form-project-field { border-top: none; margin-top: 0; }
	.footer-link-col { width: max-content; }
	.footer-detail-wrapper { flex-direction: column; margin: 20px 0; padding: 20px 0; }
	.footer-copyright { padding-top: 25px; }
    .footer-social-wrapper { flex-direction: column; gap: 20px; }
    .footer-vr-line { height: 1px; width: 100%; margin: 30px 0; }
    .footer-address-wrapper { flex-direction: row; gap: 20px; width: 300px; min-height: 80px; }
    .footer-add-country { flex-direction: column; gap: 6px; }
}

@media (max-width: 767px) {
	.footer-quote-right h2 { font-size: 54px; line-height: 62px; }
	.footer-copyright-right ul { gap: 20px; }
	.footer-pixel-3 { width: 175px; }
	.footer-pixel-1 { width: 230px; }
	.footer-quote-right { width: 65%; }
	.footer-vr-line { margin: 20px 0; }
}

@media (max-width: 639px) {
	.footer-quote-right h2 { font-size: 52px; line-height: 60px; }
	.footer-copyright { flex-direction: column; align-items: center; gap: 10px; }
	.footer-copyright { gap: 5px; }
	.footer-social-row, .footer-social-wrapper { gap: 15px; }
	.footer-address-wrapper, .footer-address { width: max-content; gap: 25px; }

	.text-80 { font-size: 50px; line-height: 58px; }
}

@media (max-width: 575px) {
	.footer-links { justify-content: space-between; }
	.footer-address-wrapper { height: max-content; }
	.footer-address-wrapper, .footer-address {width: 100%; }
	.footer-copyright { gap: 5px; }
	.footer-quote-wrapper { flex-direction: column; align-items: flex-start; }
	.footer-address-wrapper { gap: 15px; }
	.footer-add-country { gap: 6px; }
	.footer-contact { gap: 0; }
	.footer-quote-right { width: 100%; }
	.footer-social-icon-desktop { display: none; }
	.footer-social-icon-tablet { display: flex; gap: 20px; }
	.social-icon a { gap: 8px; }
	.footer-links, .footer-social-icon-tablet { gap: 0; }
	.footer-quote-right h2 { font-size: 48px; line-height: 54px; }
	.footer-social-row, .footer-social-wrapper, .footer-link-col { width: 145px; }
	.footer-social-icon-tablet { width: 100%; justify-content: space-between; }
}

@media (max-width: 479px) {
    .footer-quote-right { width: 100%; }
    .footer-quote-right h2 { font-size: 50px; line-height: 58px; }
    .footer-copyright { gap: 10px; padding-top: 20px; margin-top: 20px; border-top: 1px solid #161F44; }
    .footer-vr-line { background-color: #161F44; }
    .footer-detail-wrapper { padding: 20px 0; margin: 20px 0; border-top: 1px solid #161F44; border-bottom: 1px solid #161F44; }
    .footer-quote-right .text-18, .footer-social-wrapper .text-18, .footer-links .text-18, .footer-social-row .text-18 { font-size: 16px; line-height: 24px; }
    .footer-links { gap: 10px; flex-wrap: wrap; justify-content: flex-start; } 
    .footer-pixel-2 { width: 100px; }
    .footer-address-wrapper .text-18 { font-size: 16px; line-height: 22px; }
    .footer-company-contact .text-18 { font-size: 16px; line-height: 22px; }
    .social-icon a { gap: 8px; }
    .footer-contact { flex-direction: column; gap: 14px; }
    .faq-mobile-btn { margin-top: 0; }
    .footer-add-country { flex-direction: row; gap: 10px; }
    .footer-address-wrapper { flex-direction: column; gap: 10px; }
    .footer-cnct:first-child { margin-bottom: 6px; }

    .footer-social-icon-tablet { display: none; gap: 20px; }
    .footer-social-icon-desktop { display: flex; flex-direction: row; gap: 0px; }

    .footer-copyright .text-16 { font-size: 14px; line-height: 22px; }
    .footer-social-row, .footer-social-wrapper, .footer-link-col { width: max-content; }

    .footer-social-wrapper{ gap: 30px; }
    .footer-social-row { flex-direction: row; gap: 30px; width: 100%; }
    .social-icon span { font-size: 30px; }
    .social-icon p { display: none; }
    .faq-toggle { font-size: 14px; line-height: 22px; }

    .footer-links { flex-direction: column; }
    .footer-link-col { width: 100% !important; }
    .footer-link-col:not(:last-child) ul {  display: flex; justify-content: space-between; width: 100%; }
    .footer-link-col:not(:last-child) ul li { width: 100px; margin-bottom: 0; }
    .quick-link-services-title { display: none; }
    .footer-links { margin-top: 10px; }
    .quick-link-only-title, .services-only-title { display: block; }
    .footer-link-col .services-only-title { font-size: 18px; }
    .footer-link-col:nth-child(1), .footer-link-col:nth-child(2) {  width: 180px; }
    .footer-link-col:nth-child(3) { padding-top: 16px;  }
    .footer-link-col:nth-child(3) ul { display: flex; flex-wrap: wrap; gap: 6px; margin-top: 10px; }
    .footer-link-col:nth-child(3) ul li { width: 196px; margin-bottom: 0;  }

    .footer-link-col:not(:last-child) ul li { width: 81px; }
    .footer-title p { font-size: 18px; }
}


@media (max-width: 439px) {
    .footer-quote-right h2 { font-size: 48px; line-height: 56px; }
    .footer-links { justify-content: start; }
    .footer-quote-right p { margin-bottom: 20px; }
    .footer-link-col:nth-child(1), .footer-link-col:nth-child(2) {  width: 180px; }
    .footer-link-col:nth-child(3) { padding-top: 16px;  }
    .footer-link-col:nth-child(3) ul { display: flex; flex-wrap: wrap; margin-top: 10px; }
    .footer-link-col:nth-child(3) ul li { width: 194; margin-bottom: 0;  }


}   

@media (max-width: 400px) {
    .footer-quote-right h2 { font-size: 44px; line-height: 52px; }
    .footer-vr-line { margin: 20px 0; }
    .footer-quote-wrapper { gap: 30px; }
    .footer-social-row { gap: 14px; }    
    .footer-pixel-1 { width: 170px; } 
    .footer-add-country { gap: 20px; }
    .footer-copyright .text-16 { font-size: 14px; line-height: 22px; }
    .footer-social-wrapper { gap: 14px; }
    .social-icon span { font-size: 25px; }
    .footer-link-col:first-child { display: none; }
    .footer-link-col:not(:last-child) ul { flex-wrap: wrap; justify-content: start; gap: 10px; }
    .footer-link-col:not(:last-child) ul li { width: calc(33% - 10px); }
    .only-for-mobile-three-column { display: block; }
    .footer-link-col .services-only-title, .quick-link-only-title, .footer-title p { font-size: 18px; }


}

@media (max-width: 374px) {
    .footer-quote-right .text-18, 
    .footer-social-wrapper .text-18, 
    .footer-links .text-18, 
    .footer-social-row .text-18, 
    .footer-contact .text-18{ font-size: 14px; line-height: 22px; }
    .footer-copyright .text-16 { font-size: 12px; line-height: 20px; }
    .social-icon span { font-size: 22px; }
}