/* custom */

.industries-section { height: 100svh; min-height: 700px; display: flex;  overflow: hidden; }
.industries-container { display: flex; flex-direction: column; min-height: 0; overflow: hidden; }
.hm-industries-title { flex: 0 0 auto; }
.industries-card-wrapper { flex: 1 1 0; min-width: 0; min-height: 0; display: flex; align-items: stretch; gap: 50px; overflow: visible; }
.industries-cards { flex: 0 0 100%; display: flex; align-items: stretch; justify-content: space-between; gap: 60px; width: 100%; height: 100%; min-width: 0; min-height: 0; }
.industries-video-wrapper { position: relative; flex: 1 1 auto; min-width: 0; min-height: 0; height: 100%; }
.industries-card-left { width: 100%; height: 100%; min-width: 0; min-height: 0; border-radius: 0 0 100px 0; overflow: hidden; }
.industries-card-right { flex: 0 0 540px; display: flex; flex-direction: column; justify-content: space-between; min-width: 0; min-height: 0; height: 100%; }

.industries-pixel-1 { position: absolute; top: 0; left: 0; }
.industries-pixel-2 { position: absolute; top: 0; right: 0; }
.industries-pixel-3 { position: absolute; bottom: 0; left: 0; }

.industries-video { width: 100%; height: 100%; object-fit: cover; }

.industries-card-right h3 { font-size: 80px; line-height: 90px; }


/* responsive */
@media (max-width: 1799px) { 
    .industries-card-right { flex: 0 0 485px; }
    .industries-card-right h3 { font-size: 76px; line-height: 84px; }
}

@media (max-width: 1599px) { 
    .industries-card-right h3 { font-size: 70px; line-height: 78px; }
    .industries-cards { gap: 40px; }
    .industries-card-right { flex: 0 0 445px; }
    .industries-card-right p { gap: 14px; } 
    .industries-pixel-1 { width: 130px; }
    .industries-pixel-2 { width: 100px; }
    .industries-pixel-3 { width: 40px; }
}

@media (max-width: 1599px) and (max-height: 750px) {}

@media (max-width: 1439px) {
    .industries-card-right h3 { font-size: 50px; line-height: 58px; }
    .industries-card-right p { font-size: 14px; line-height: 22px; }
    .industries-card-right { flex: 0 0 330px; }
    .industries-card-right p { gap: 10px; }
    .industries-card-wrapper { margin-top: 30px; }
}

@media (max-width: 1359px) { 
    .industries-card-right h3 { font-size: 46px; line-height: 56px; }
    .industries-card-right { flex: 0 0 310px; }
    .industries-pixel-1 { width: 100px; }
    .industries-pixel-2 { width: 90px; }
}

@media (max-width: 1359px) and (max-height: 600px) { }

@media (max-width: 1199px) { 
    .industries-cards { flex-direction: column; }
    .industries-card-right { flex: 0 0 200px; }
    .hm-industries-title p { display: flex; flex-direction: column; } 
}

@media (max-width: 1024px) { 
    .industries-card-right { flex: 0 0 190px; }
}

@media (max-width: 1024px) and (max-height: 768px) { 
    .industries-cards { flex-direction: row; }
    .industries-card-right h3 { font-size: 40px; line-height: 48px; }
    .industries-card-right p { font-size: 12px; line-height: 18px; gap: 6px; }
    .industries-card-right { flex: 0 0 295px; }
    .industries-cards { gap: 30px; }
}


@media (max-width: 991px) { }

@media (max-width: 839px) { 
    .industries-card-right { flex: 0 0 165px; }
    .industries-card-right p { gap: 6px; }
    .industries-cards { gap: 25px; }
    .industries-card-right h3 { font-size: 42px; line-height: 50px; }
}

@media (max-width: 767px) { }

@media (max-width: 639px) { 
    .industries-card-right h3 { font-size: 38px; line-height: 46px; }
    .industries-card-right { flex: 0 0 160px; }
}

@media (max-width: 575px) { 
    .industries-card-right { width: 100%; flex: 0 0 190px; }
    .industries-pixel-3 { width: 30px; }
    .industries-card-left { border-bottom-right-radius: 80px; }
}

@media (max-width: 479px) { 
    .industries-card-right h3 { font-size: 34px; line-height: 40px; }
    .industries-card-right { flex: 0 0 180px; }
    .industries-card-wrapper { margin-top: 20px; }
    .industries-pixel-1 { width: 85px; }
    .industries-pixel-2 { width: 75px; }
}

@media (max-width: 439px) { 
    .industries-card-right h3 { font-size: 30px; line-height: 36px; }
    .industries-card-right { flex: 0 0 190px; }
    .industries-card-right p { gap: 4px; }
}

@media (max-width: 400px) { 
    .industries-cards { flex-direction: column; }
    .industries-card-right { flex: 0 0 150px; }
    .industries-pixel-1 { width: 65px; }
    .industries-pixel-2 { width: 55px; }
    .industries-pixel-3 { width: 25px; }
}

@media (max-width: 374px) { 
    .industries-card-right { flex: 0 0 210px; }
    .industries-card-right h3 { font-size: 28px; line-height: 36px; }
}

@media (max-width: 359px) { }