/* custom */

.hm-abt-wrapper{ padding: 40px; width: 100%; height: max-content; background-image: url(https://pub-ab3a45b6cf574e698e4911642d8b38de.r2.dev/images/homepage/about/abt-section-background-grid-desktop.png); background-repeat: repeat; }

.hm-abt-card {   -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); background-color: #040e3699; border: 1px solid #8490841a; }


/* responsive */
@media (max-width: 1799px) { 
    .hm-abt-title-wrapper h2 { width: 480px; }
    .hm-abt-title-wrapper p { width: 760px; }
    .hm-abt-pointers { width: 785px; }
    .hm-abt-card { width: 377px; height: 270px; }
    .hm-abt-card > span { margin-top: 10px; } 
    .hm-abt-card-text { width: 315px; }
}

@media (max-width: 1599px) {
    .hm-abt-wrapper { padding: 30px; }
    .hm-abt-title-wrapper { flex-direction: column; gap: 20px; }
    .hm-abt-title-wrapper h2 { width: 100%; }
    .hm-abt-title-wrapper p { width: 100%; gap: 16px; }
    .hm-abt-pointers { width: 790px; gap: 20px; }
    .hm-abt-card { width: 385px; height: 205px; }
    .hm-abt-logo { width: 200px; height: 256px; margin-left: 100px; }
    .hm-abt-card-text { width: 325px; }
    .hm-abt-content-wrapper { margin-top: 40px; }
}

@media (max-width: 1599px) and (max-height: 750px) {}

@media (max-width: 1439px) {
    .hm-abt-logo { width: 170px; height: 220px; margin-left: 70px; }
    .hm-abt-pointers { width: 680px; }
    .hm-abt-card { width: 330px; }
    .hm-abt-card h3 { font-size: 18px; line-height: 24px; }
    .hm-abt-card-text { width: 270px; }
    .hm-abt-card-text p { gap: 10px; }
    .hm-abt-card > span { width: 6px; height: 6px; }
}

@media (max-width: 1359px) {
    .hm-abt-pointers { width: 740px; } 
    .hm-abt-wrapper { padding: 20px; }
    .hm-abt-card { width: 360px; height: 185px; }
    .hm-abt-card-text { width: 300px; }
}

@media (max-width: 1359px) and (max-height: 600px) { }

@media (max-width: 1199px) { 
    .hm-abt-content-wrapper { flex-direction: column; gap: 30px; margin-top: 30px; }
    .hm-abt-logo { margin: 0; }
    .hm-abt-pointers { width: 100%; }
    .hm-abt-card { width: calc( 50% - 10px ); }
    .hm-abt-card-text { width: 310px; }
}

@media (max-width: 1024px) { 
    .hm-abt-card-text { width: 260px; }
    .hm-abt-card { height: 225px; }
}

@media (max-width: 1024px) and (max-height: 770px) { 
    .hm-abt-content-wrapper { flex-direction: row; }
    .hm-abt-pointers { width: 630px; }
    .hm-abt-card { padding: 15px; width: 305px; height: 215px; }
    .hm-abt-card-text {width: 255px; }

    .hm-abt-logo { margin-left: 30px; }
}


@media (max-width: 991px) { 
    .hm-abt-content-wrapper { flex-direction: column; width: 100%; }
    .hm-abt-card h3 { width: 70%; }
    .hm-abt-card { height: 275px; }
}

@media (max-width: 839px) { 
    .hm-abt-pointers { flex-direction: column; width: 100%; }
    .hm-abt-card h3 { width: 100%; }
    .hm-abt-card { width: 100%; height: auto; padding: 15px; }
    .hm-abt-card-text { width: 100%; }
}

@media (max-width: 767px) { }

@media (max-width: 639px) { }

@media (max-width: 575px) { 
    .hm-abt-title-wrapper p { gap: 12px; }
    .hm-abt-wrapper { padding: 0; }
}

@media (max-width: 479px) { 
    .hm-abt-wrapper{ background-image: url(https://pub-ab3a45b6cf574e698e4911642d8b38de.r2.dev/images/homepage/about/abt-section-background-grid-mobile.png);}
}

@media (max-width: 439px) { 
    .hm-abt-card-text p { gap: 8px; }
}

@media (max-width: 400px) { }

@media (max-width: 374px) { }

@media (max-width: 359px) { }