@import "tailwindcss";
@import "../stylesheets/icons.css";
/* @import "tw-animate-css"; */
/* @import "shadcn/tailwind.css"; */

@custom-variant dark (&:is(.dark *));

:root {

    --primary: #ED0180;
    --primary-navy: #040E36;

    --white: #ffffff;
    --black: #000000;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* CUSTOM GLOBLE CSS */

@theme { --font-sans: var(--font-strichpunkt), sans-serif; }

*, *::before, *::after { box-sizing: border-box; }
.section { padding: 150px 0; }
.container { max-width: calc(1600px + 40px); margin: 0 auto; padding: 0 20px; }
.container-sm { max-width: 1476px; margin: 0 auto; padding: 0 18px; }
::selection { background-color: var(--primary); color: var(--white); }

/* TEXT UTILS */
@layer base {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-weight: 600; }

  h1, .h1 { font-size: 64px; line-height: 70px; }
  h2, .h2 { font-size: 48px; line-height: 54px; }
  h3, .h3 { font-size: 38px; line-height: 46px; }
  h4, .h4 { font-size: 32px; line-height: 40px; }
  h5, .h5 { font-size: 28px; line-height: 34px; }
  h6, .h6 { font-size: 22px; line-height: 32px; }
}

.text-20 { font-size: 20px; line-height: 30px; }
.text-18 { font-size: 18px; line-height: 24px; }

/* RESPOSNIVE FOR GLOBAL CSS */

/*
    * rarepixels
    * Date: 2026-09-23
    * Generated: 2026-09-23T04:47:34.822Z
    * Responsive Design System — RarePixels
*/

@media (max-width: 1799px) {
	.container { max-width: calc(1360px + 36px); }
	.section   { padding: 100px 0px; }
	.container-sm { max-width: calc(1224px + 36px);  }

	h1, .h1{ font-size: 60px; line-height: 68px; }
	h2, .h2{ font-size: 44px; line-height: 50px; }
	h3, .h3{ font-size: 36px; line-height: 44px; }
	h4, .h4{ font-size: 32px; line-height: 40px; }
	h5, .h5{ font-size: 28px; line-height: 36px; }
	h6, .h6{ font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 20px; line-height: 28px; }
    .text-18  { font-size: 18px; line-height: 26px; }
    .text-16  { font-size: 16px; line-height: 22px; }
}

@media (max-width: 1599px) {
    .container { max-width: calc(1248px + 36px); }   
	.section   { padding: 90px 0px; }
	.container-sm { max-width: calc(1123px + 36px); }

	h1, .h1 { font-size: 52px; line-height: 60px; }
	h2, .h2 { font-size: 42px; line-height: 50px; }
	h3, .h3 { font-size: 34px; line-height: 44px; }
	h4, .h4 { font-size: 30px; line-height: 48px; }
	h5, .h5 { font-size: 26px; line-height: 34px; }
	h6, .h6 { font-size: 20px; line-height: 28px; }

	.text-16 { font-size: 14px; line-height: 22px; }
	.text-18 { font-size: 16px; line-height: 22px; }
	.text-20{ font-size: 18px; line-height: 24px; }
}

@media (max-width: 1599px) and (max-height: 750px) { 
    .text-20 { font-size: 18px; line-height: 26px; }
}

@media (max-width: 1439px) {
	.container { max-width: calc(1156px + 36px); }   
	.container-sm { max-width: calc(950px + 36px); }

	h1, .h1 { font-size: 46px; line-height: 54px; }
	h2, .h2 { font-size: 36px; line-height: 44px; }
	h3, .h3 { font-size: 30px; line-height: 38px; }
	h4, .h4 { font-size: 28px; line-height: 36px; }
	h5, .h5 { font-size: 24px; line-height: 32px; }
	h6, .h6 { font-size: 20px; line-height: 28px; }

	.text-20 { font-size: 16px; line-height: 22px; }
	.text-18 { font-size: 14px; line-height: 20px; }
	.text-16 { font-size: 12px; line-height: 24px; }
}

@media (max-width: 1359px) {
	/* .container { max-width: calc(1100px + 36px); }    */
	.section   { padding: 80px 0px; }
	.container-sm { max-width: calc(864px + 36px); }

	h1, .h1 { font-size: 40px; line-height: 48px; }
	h2, .h2 { font-size: 32px; line-height: 40px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
	h6, .h6 { font-size: 18px; line-height: 26px; }

	.text-20 { font-size: 16px; line-height: 20px; }
	.text-14 { font-size: 12px; line-height: 20px; }
}

/* Low Height Resolution for small laptops */
@media (max-width: 1359px) and (max-height: 600px) {
    .section   { padding: 80px 0px; }
}

@media (max-width: 1199px) {
    .container { max-width: calc(960px + 36px); }   .section   { padding: 80px 0px; }
	h1, .h1 { font-size: 40px; line-height: 48px; }
	h2, .h2 { font-size: 32px; line-height: 40px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 1024px) {
    .container { max-width: calc(930px + 36px); }   .section   { padding: 80px 0px; }
}

/* Very-Small size laptop */
@media (max-width: 1024px) and (max-height: 770px) {
    .container { max-width: calc(930px + 36px); }
}

@media (max-width: 991px) {
    .container { max-width: calc(704px + 36px); }   .section   { padding: 80px 0px; }
    .container-sm { max-width: calc(640px + 36px); }

	h1, .h1 { font-size: 40px; line-height: 48px; }
	h2, .h2 { font-size: 32px; line-height: 40px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 839px) {
    .container { max-width: calc(640px + 36px); }   .section   { padding: 60px 0px; }
	h1, .h1 { font-size: 40px; line-height: 48px; }
	h2, .h2 { font-size: 32px; line-height: 40px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 767px) {
    .container { max-width: calc(608px + 36px); }   .section   { padding: 60px 0px; }
    .container-sm { width: 100%; }
}

@media (max-width: 639px) {
    .container { max-width: calc(560px + 36px); }   .section   { padding: 60px 0px; }

	h1, .h1 { font-size: 38px; line-height: 46px; }
	h2, .h2 { font-size: 28px; line-height: 36px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }

    .website-subtitle-mt { margin-top: 14px !important; }
}

@media (max-width: 575px) {
    .container { max-width: calc(528px + 36px); }   .section   { padding: 50px 0px; }
	h1, .h1 { font-size: 38px; line-height: 46px; }
	h2, .h2 { font-size: 28px; line-height: 36px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 479px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 50px 0px; }
    .container-sm { width: 100%; }
    /* .container-sm { width: 100%; margin: 0; padding: 0; } */
	h1, .h1 { font-size: 38px; line-height: 46px; }
	h2, .h2 { font-size: 28px; line-height: 36px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 22px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 439px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 40px 0px; }
	h1, .h1 { font-size: 38px; line-height: 46px; }
	h2, .h2 { font-size: 28px; line-height: 36px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 14px; line-height: 20px; } */
    .text-16  { font-size: 12px; line-height: 18px; }
}

@media (max-width: 400px) {
    .container { width: 100%; max-width: 100%; }  .section { padding: 40px 0px; }
}

@media (max-width: 374px) {
    .container { width: 100%; max-width: 100%; }  .section { padding: 40px 0px; }
}

@media (max-width: 359px) {
    .container { width: 100%; max-width: 100%; }  .section { padding: 40px 0px; }
}

.website-subtitle-mt { margin-top: 20px; }