@import "tailwindcss";
@import "../stylesheets/icons.css";

:root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #ED0180;
    --primary-navy: #040E36;

    --white: #ffffff;
    --black: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}




/* CUSTOM GLOBLE CSS */

@theme { --font-sans: var(--font-strichpunkt), sans-serif; }

*, *::before, *::after { box-sizing: border-box; }
.section { padding: 150px 0; }
.container { max-width: calc(1600px + 40px); margin: 0 auto; padding: 0 20px; }
.container-sm { max-width: 1476px; margin: 0 auto; padding: 0 18px; }
::selection { background-color: var(--primary); color: var(--white); }

/* TEXT UTILS */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-weight: 600; }
h1, .h1 { font-size: 64px; line-height: 70px; }
h2, .h2 { font-size: 48px; line-height: 54px; }
h3, .h3 { font-size: 38px; line-height: 46px; }
h4, .h4 { font-size: 32px; line-height: 40px; }
h5, .h5 { font-size: 28px; line-height: 34px; }
h6, .h6 { font-size: 22px; line-height: 32px; }

.text-20 { font-size: 20px; line-height: 30px; }
.text-18 { font-size: 18px; line-height: 24px; }




/* RESPOSNIVE FOR GLOBAL CSS */

/*
    * rarepixels
    * Date: 2026-09-23
    * Generated: 2026-09-23T04:47:34.822Z
    * Responsive Design System — RarePixels
*/

@media (max-width: 1799px) {
	.container { max-width: calc(1360px + 36px); }
	.section   { padding: 100px 0px; }
	.container-sm { max-width: calc(1224px + 36px);  }

	h1, .h1{ font-size: 60px; line-height: 68px; }
	h2, .h2{ font-size: 44px; line-height: 50px; }
	h3, .h3{ font-size: 36px; line-height: 44px; }
	h4, .h4{ font-size: 32px; line-height: 40px; }
	h5, .h5{ font-size: 28px; line-height: 36px; }
	h6, .h6{ font-size: 22px; line-height: 30px; }
    .text-20  { font-size: 20px; line-height: 28px; }
    .text-18  { font-size: 18px; line-height: 26px; }
    .text-16  { font-size: 16px; line-height: 22px; }
}

@media (max-width: 1599px) {
    .container { max-width: calc(1248px + 36px); }   
	.section   { padding: 90px 0px; }
	.container-sm { max-width: calc(1123px + 36px); }

	h1, .h1 { font-size: 52px; line-height: 60px; }
	h2, .h2 { font-size: 42px; line-height: 50px; }
	h3, .h3 { font-size: 34px; line-height: 44px; }
	h4, .h4 { font-size: 30px; line-height: 48px; }
	h5, .h5 { font-size: 26px; line-height: 34px; }
	h6, .h6 { font-size: 20px; line-height: 28px; }

	.text-16 { font-size: 14px; line-height: 22px; }
	.text-18 { font-size: 16px; line-height: 22px; }
	.text-20{ font-size: 18px; line-height: 24px; }
}

@media (max-width: 1599px) and (max-height: 750px) { 
    .text-20 { font-size: 18px; line-height: 26px; }
}

@media (max-width: 1439px) {
	.container { max-width: calc(1156px + 36px); }   
	.container-sm { max-width: calc(950px + 36px); }

	h1, .h1 { font-size: 46px; line-height: 54px; }
	h2, .h2 { font-size: 36px; line-height: 44px; }
	h3, .h3 { font-size: 30px; line-height: 38px; }
	h4, .h4 { font-size: 28px; line-height: 36px; }
	h5, .h5 { font-size: 24px; line-height: 32px; }
	h6, .h6 { font-size: 20px; line-height: 28px; }

	.text-20 { font-size: 16px; line-height: 22px; }
	.text-18 { font-size: 14px; line-height: 20px; }
	.text-16 { font-size: 12px; line-height: 24px; }
}

@media (max-width: 1359px) {
	/* .container { max-width: calc(1100px + 36px); }    */
	.section   { padding: 80px 0px; }
	.container-sm { max-width: calc(864px + 36px); }

	h1, .h1 { font-size: 40px; line-height: 48px; }
	h2, .h2 { font-size: 32px; line-height: 40px; }
	h3, .h3 { font-size: 24px; line-height: 32px; }
	h4, .h4 { font-size: 26px; line-height: 34px; }
	h5, .h5 { font-size: 22px; line-height: 30px; }

	.text-20 { font-size: 16px; line-height: 20px; }
	.text-14 { font-size: 12px; line-height: 20px; }
}

/* Low Height Resolution for small laptops */
@media (max-width: 1359px) and (max-height: 600px) {
    .section   { padding: 80px 0px; }
}

@media (max-width: 1199px) {
    .container { max-width: calc(800px + 36px); }   .section   { padding: 80px 0px; }
    h1, .h1   { font-size: 56px; line-height: 64px; }
    h2, .h2   { font-size: 36px; line-height: 42px; }
    h3, .h3   { font-size: 32px; line-height: 40px; }
    h4, .h4   { font-size: 30px; line-height: 38px; }
    h5, .h5   { font-size: 26px; line-height: 34px; }
    h6, .h6   { font-size: 20px; line-height: 28px; }
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 1024px) {
    .container { max-width: calc(704px + 36px); }   .section   { padding: 80px 0px; }
}

/* Very-Small size laptop */
@media (max-width: 1024px) and (max-height: 770px) {
    .container { max-width: calc(930px + 36px); }
}

@media (max-width: 991px) {
    .container { max-width: calc(704px + 36px); }   .section   { padding: 80px 0px; }
    h1, .h1   { font-size: 54px; line-height: 62px; }
    h2, .h2   { font-size: 34px; line-height: 42px; }
    h3, .h3   { font-size: 30px; line-height: 38px; }
    h4, .h4   { font-size: 28px; line-height: 36px; }
    h5, .h5   { font-size: 24px; line-height: 32px; }
    h6, .h6   { font-size: 20px; line-height: 28px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 839px) {
    .container { max-width: calc(640px + 36px); }   .section   { padding: 60px 0px; }
    h1, .h1   { font-size: 52px; line-height: 60px; }
    h2, .h2   { font-size: 32px; line-height: 40px; }
    h3, .h3   { font-size: 28px; line-height: 36px; }
    h4, .h4   { font-size: 26px; line-height: 34px; }
    h5, .h5   { font-size: 24px; line-height: 32px; }
    h6, .h6   { font-size: 20px; line-height: 28px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 767px) {
    .container { max-width: calc(608px + 36px); }   .section   { padding: 60px 0px; }
}

@media (max-width: 639px) {
    .container { max-width: calc(560px + 36px); }   .section   { padding: 60px 0px; }
    
    h1, .h1   { font-size: 48px; line-height: 56px; }
    h2, .h2   { font-size: 32px; line-height: 40px; }
    h3, .h3   { font-size: 28px; line-height: 36px; }
    h4, .h4   { font-size: 26px; line-height: 34px; }
    h5, .h5   { font-size: 24px; line-height: 32px; }
    h6, .h6   { font-size: 20px; line-height: 28px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }


    .website-subtitle-mt { margin-top: 14px !important; }
}

@media (max-width: 575px) {
    .container { max-width: calc(528px + 36px); }   .section   { padding: 50px 0px; }
    h1, .h1   { font-size: 44px; line-height: 52px; }
    h2, .h2   { font-size: 30px; line-height: 38px; }
    h3, .h3   { font-size: 28px; line-height: 36px; }
    h4, .h4   { font-size: 26px; line-height: 34px; }
    h5, .h5   { font-size: 24px; line-height: 32px; }
    h6, .h6   { font-size: 20px; line-height: 28px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 24px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 479px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 50px 0px; }
    h1, .h1   { font-size: 42px; line-height: 50px; }
    h2, .h2   { font-size: 28px; line-height: 36px; }
    h3, .h3   { font-size: 26px; line-height: 34px; }
    h4, .h4   { font-size: 24px; line-height: 32px; }
    h5, .h5   { font-size: 22px; line-height: 30px; }
    h6, .h6   { font-size: 20px; line-height: 28px; }
    .text-20  { font-size: 18px; line-height: 26px; }
    /* .text-18  { font-size: 16px; line-height: 22px; } */
    .text-16  { font-size: 14px; line-height: 22px; }
}

@media (max-width: 439px) {
    .container { width: 100%; max-width: 100%; }  .section   { padding: 40px 0px; }
    h1, .h1   { font-size: 40px; line-height: 48px; }
    h2, .h2   { font-size: 28px; line-height: 36px; }
    h3, .h3   { font-size: 26px; line-height: 34px; }
    h4, .h4   { font-size: 24px; line-height: 32px; }
    h5, .h5   { font-size: 22px; line-height: 30px; }
    h6, .h6   { font-size: 18px; line-height: 26px; }
    .text-20  { font-size: 16px; line-height: 24px; }
    /* .text-18  { font-size: 14px; line-height: 20px; } */
    .text-16  { font-size: 12px; line-height: 18px; }
}

@media (max-width: 400px) {
    .container { width: 100%; max-width: 100%; }  .section { padding: 40px 0px; }
}

@media (max-width: 374px) {
    .container { width: 100%; max-width: 100%; }  .section { padding: 40px 0px; }
}

@media (max-width: 359px) {
    .container { width: 100%; max-width: 100%; }  .section { padding: 40px 0px; }
}

.website-subtitle-mt { margin-top: 20px; }