
/* custom css */
.hm-testimonial-section { overflow: hidden; }
.hm-testimonial-wrapper { margin-top: 60px; overflow: visible; }
.testimonial-swiper { margin-right: calc((100vw - 100%) / -2); }
.testimonial-swiper .swiper { overflow: hidden; }

/* responsive */

@media (max-width: 1799px) {
    .hm-testimonial-title { width: 785px; }
    .testimonial-client-video { width: 580px; height: 464px; } 
}

@media (max-width: 1599px) {
    .testimonial-client-video { width: 530px; height: 390px; } 
    .hm-testimonial-wrapper { margin-top: 40px; }
}

@media (max-width: 1439px) {
    .testimonial-client-video { width: 480px; height: 390px; } 
    .client-review-stars img { width: 22px; height: 22px; }
    .testimonial-client p:nth-child(1) { margin-bottom: 0; }
}

@media (max-width: 1359px) {
    .client-review-stars img { width: 18px; height: 18px; }
}

@media (max-width: 1359px) and (max-height: 600px) {    
    .testimonial-client-video { width: 450px; height: 350px; }
    .testimonial-client p:nth-child(1) { margin-bottom: 0; }
    .testimonial-client-name { gap: 12px; }
    .testi-client-initial { padding: 10px 11px; border-radius: 15px; }
}

@media (max-width: 1199px) {
  .hm-testimonial-wrapper { flex-direction: column; }
  .testimonial-client-video { margin: 0 auto; width: 100%; height: 450px; }
  .hm-testimonial-title { width: 635px; }
}

@media (max-width: 1024px) {
}

@media (max-width: 1024px) and (max-height: 770px) {  
    .hm-testimonial-wrapper { flex-direction: row; }
    .testimonial-client-video { width: 450px; height: 350px; }
}

@media (max-width: 991px) {
    .testimonial-client-video { height: 380px; }
    .hm-testimonial-wrapper { flex-direction: column; }
    .hm-abt-logo { margin-left: 0; }
}

@media (max-width: 839px) {
    .testimonial-client-video { height: 350px; }
    .hm-testimonial-title { width: 100%; }
}

@media (max-width: 767px) {
    .testimonial-client-video { height: 300px; }
    .testimonial-client p { margin-bottom: 0; } 
    .hm-testimonial-wrapper { gap: 30px; }
}

@media (max-width: 639px) {}

@media (max-width: 575px) {
    .testimonial-client-video { height: 275px; }
    .hm-testimonial-wrapper { margin-top: 30px; }
}

@media (max-width: 479px) {
    .testimonial-client-video { width: 100%; }
    .client-review-stars { margin-top: 10px; }
}

@media (max-width: 439px) {
    .testi-client-initial { padding: 8px 11px; border-radius: 12px; }
    .client-review-stars img { width: 14px; height: 14px; }
    .testimonial-client-video { height: 250px; }
}

@media (max-width: 400px) { }

@media (max-width: 374px) { }

@media (max-width: 359px) { }