@keyframes hero-rocket {
    0% { transform: translate( 0px, 0px ) }
    100% { transform: translate(50px, 50px) }
}


/*  custom */

.contact-title-left h1 { font-size: 98px; line-height: 108px; }
.contact-title-left h1 span { display: block; }

.contact-hero-image { animation: hero-rocket 10s ease linear infinite; }

/* responsive */
@media (max-width: 1799px) { 
    .contact-title-left h1 { font-size: 94px; line-height: 104px; width: 765px; }
    .contact-hero-image { width: 500px; height: 433px; } 
    .contact-section { padding-top: 35px; }
}

@media (max-width: 1599px) { 
    .contact-title-left h1 { font-size: 86px; line-height: 96px; width: 700px; }
    .contact-hero-image { width: 460px; height: 398px; }
}

@media (max-width: 1599px) and (max-height: 750px) {}

@media (max-width: 1439px) { 
    .contact-hero-bg-lines { top: 55%; } 
    .contact-title-left h1 { font-size: 80px; line-height: 88px; width: 650px; }

    .contact-hero-image { width: 410px; }
}

@media (max-width: 1359px) { 
    .contact-title-left h1 { font-size: 76px; line-height: 84px; }
    .contact-hero-image { width: 440px; height: 381px; }
}

@media (max-width: 1359px) and (max-height: 600px) { }

@media (max-width: 1199px) { 
    .contact-title-left h1 { width: 540px; font-size: 66px; line-height: 76px; }
    .contact-hero-image { width: 360px; height: 312px; }
}

@media (max-width: 1024px) { 
    .contact-title-left h1 { width: 490px; font-size: 60px; line-height: 70px; }
}

@media (max-width: 1024px) and (max-height: 770px) { }

@media (max-width: 991px) { 
    .contact-title-wrapper { flex-direction: column; gap: 30px; }
    .contact-title-left h1 { font-size: 58px; line-height: 66px; width: 100%; }
    .contact-hero-bg-lines { top: 60%;  left: 60%; transform: translateX(-50%) rotate3d(0, 0, 1, -17deg); scale: 1.4;}
}

@media (max-width: 839px) { 
    .contact-title-left h1 { font-size: 52px; line-height: 60px; }
    .contact-hero-bg-lines { scale: 1.5; }
}

@media (max-width: 767px) { 
    .contact-title-left h1 { font-size: 48px; line-height: 56px; }
}

@media (max-width: 639px) { 
    .contact-title-left h1 { font-size: 44px; line-height: 52px; }
}

@media (max-width: 575px) { 
    .contact-title-left h1 { font-size: 36px; line-height: 44px; }
    .contact-hero-bg-lines { scale: 1.7; stroke-width: 3; }
}

@media (max-width: 479px) { 
    .contact-hero-image { width: 70%; height: auto; }
    .contact-title-left h1 { font-size: 32px; line-height: 40px; }
    .contact-title-wrapper { gap: 15px; }
}

@media (max-width: 439px) { 
    .contact-title-left h1 { font-size: 30px; line-height: 38px; }
    .contact-title-wrapper { padding-top: 40px; }
}

@media (max-width: 400px) { 
}

@media (max-width: 374px) { 
}

@media (max-width: 359px) { }